In [1]:
print('hello world')

hello world

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
        .appName("spark-etl_nybike_bronze") \
            .getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/05/18 23:56:37 WARN Utils: Your hostname, DESKTOP-2ELJ47S resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/05/18 23:56:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/18 23:56:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df= spark.read.csv('volumes_and_data_services/data_nybike/2013-citibike-tripdata/6_June/201306-citibike-tripdata_1.csv',header=True)

In [ ]:
df.show(10)

+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+---------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|genre_enr|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+---------+
|         695|2013-06-01 00:00:01|2013-06-01 00:11:36|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 19678|Subscriber|    1983.0|     1|FEMMEUILE|
|         693|2013-06-01 00:00:08|2013-06-01 00:11:41|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 16649|Subscriber|    1984.0|     1|FEMMEUILE|
|        2059|2013-06-01 00:00:44|2013-06-01 00:35:03|             406|Hicks St & Montag...|           40.69512845|           -73.99595065|         406.0|Hicks St & Montag...|         40.69512845|         -73.99595065| 19599|  Customer|      NULL|     0|FEMMEUILE|
|         123|2013-06-01 00:01:04|2013-06-01 00:03:07|             475| E 15 St & Irving Pl|           40.73524276|           -73.98758561|         262.0|     Washington Park|          40.6917823|          -73.9737299| 16352|Subscriber|    1960.0|     1|FEMMEUILE|
|        1521|2013-06-01 00:01:22|2013-06-01 00:26:43|            2008|Little West St & ...|           40.70569254|           -74.01677685|         310.0| State St & Smith St|         40.68926942|         -73.98912867| 15567|Subscriber|    1983.0|     1|FEMMEUILE|
|        2028|2013-06-01 00:01:47|2013-06-01 00:35:35|             485|     W 37 St & 5 Ave|           40.75038009|           -73.98338988|         406.0|Hicks St & Montag...|         40.69512845|         -73.99595065| 18445|  Customer|      NULL|     0|FEMMEUILE|
|        2057|2013-06-01 00:02:33|2013-06-01 00:36:50|             285|  Broadway & E 14 St|           40.73454567|           -73.99074142|         532.0|     S 5 Pl & S 5 St|           40.710451|           -73.960876| 15693|Subscriber|    1991.0|     1|FEMMEUILE|
|         369|2013-06-01 00:03:29|2013-06-01 00:09:38|             509|     9 Ave & W 22 St|            40.7454973|           -74.00197139|         521.0|   8 Ave & W 31 St N|   40.75096734871598|   -73.99444207549095| 16100|Subscriber|    1981.0|     1|FEMMEUILE|
|        1829|2013-06-01 00:03:47|2013-06-01 00:34:16|             265|Stanton St & Chry...|           40.72229346|           -73.99147535|         436.0|Hancock St & Bedf...|         40.68216564|         -73.95399026| 15234|Subscriber|    1984.0|     1|FEMMEUILE|
|         829|2013-06-01 00:04:22|2013-06-01 00:18:11|             404|     9 Ave & W 14 St|            40.7405826|           -74.00550867|         303.0|Mercer St & Sprin...|         40.72362738|         -73.99949601| 16400|Subscriber|    1987.0|     1|FEMMEUILE|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+---------+
only showing top 10 rows

25/05/18 23:56:56 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [4]:
from pyspark.sql.functions import to_timestamp,col
df=df.withColumn('starttime',to_timestamp(col('starttime')))

In [4]:
import sys
import os

# Add the src directory to the Python path
sys.path.append(os.path.abspath("src/jobs/pyspark"))

In [5]:
from src.jobs.pyspark.interfaces import *
from src.jobs.pyspark.transformers import *
from pyspark.sql.functions import lit
df = AddColumnWithLiteralValue().run(df,{'column_to_add':{'column_name':'genre_enr','column_value':'FEMMEUILE'}})

Column With value literal initiated

In [ ]:
import uuid
from src.jobs.pyspark.transformers import AddDimensionsForTimes

In [9]:
import uuid
from pyspark.sql.functions import udf,coalesce,when,col,lit,hash,datediff,year,quarter,dayofmonth,month,dayofweek,date_format,concat,to_timestamp,udf,isnull ,when

@udf
def uuid_gen():
    return str(uuid.uuid4())

# df.select('*',uuid_gen().alias('id_uuid')).show(10)
df.withColumn('id_uuid',uuid_gen()).show(10)

+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+--------------------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|             id_uuid|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+--------------------+
|         695|2013-06-01 00:00:01|2013-06-01 00:11:36|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 19678|Subscriber|    1983.0|     1|37952491-ef5d-4ad...|
|         693|2013-06-01 00:00:08|2013-06-01 00:11:41|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 16649|Subscriber|    1984.0|     1|525837ce-1d59-469...|
|        2059|2013-06-01 00:00:44|2013-06-01 00:35:03|             406|Hicks St & Montag...|           40.69512845|           -73.99595065|         406.0|Hicks St & Montag...|         40.69512845|         -73.99595065| 19599|  Customer|      NULL|     0|cab448fa-d66a-458...|
|         123|2013-06-01 00:01:04|2013-06-01 00:03:07|             475| E 15 St & Irving Pl|           40.73524276|           -73.98758561|         262.0|     Washington Park|          40.6917823|          -73.9737299| 16352|Subscriber|    1960.0|     1|0099c750-1a31-4fe...|
|        1521|2013-06-01 00:01:22|2013-06-01 00:26:43|            2008|Little West St & ...|           40.70569254|           -74.01677685|         310.0| State St & Smith St|         40.68926942|         -73.98912867| 15567|Subscriber|    1983.0|     1|f2d61d6c-136b-432...|
|        2028|2013-06-01 00:01:47|2013-06-01 00:35:35|             485|     W 37 St & 5 Ave|           40.75038009|           -73.98338988|         406.0|Hicks St & Montag...|         40.69512845|         -73.99595065| 18445|  Customer|      NULL|     0|e0135bf5-f6db-473...|
|        2057|2013-06-01 00:02:33|2013-06-01 00:36:50|             285|  Broadway & E 14 St|           40.73454567|           -73.99074142|         532.0|     S 5 Pl & S 5 St|           40.710451|           -73.960876| 15693|Subscriber|    1991.0|     1|ee974801-ecf8-423...|
|         369|2013-06-01 00:03:29|2013-06-01 00:09:38|             509|     9 Ave & W 22 St|            40.7454973|           -74.00197139|         521.0|   8 Ave & W 31 St N|   40.75096734871598|   -73.99444207549095| 16100|Subscriber|    1981.0|     1|7e302e80-4885-45f...|
|        1829|2013-06-01 00:03:47|2013-06-01 00:34:16|             265|Stanton St & Chry...|           40.72229346|           -73.99147535|         436.0|Hancock St & Bedf...|         40.68216564|         -73.95399026| 15234|Subscriber|    1984.0|     1|08ea5e7e-d073-440...|
|         829|2013-06-01 00:04:22|2013-06-01 00:18:11|             404|     9 Ave & W 14 St|            40.7405826|           -74.00550867|         303.0|Mercer St & Sprin...|         40.72362738|         -73.99949601| 16400|Subscriber|    1987.0|     1|2c242e91-4bf4-4e7...|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+--------------------+
only showing top 10 rows

In [7]:
from src.jobs.pyspark.interfaces import *
from src.jobs.pyspark.transformers import AddDimensionsForTimesv2
from pyspark.sql.functions import *
config={'datetime_column':'starttime'}
# df.show(1)
AddDimensionsForTimesv2().run(df,config).show(5)

Dimensions time column add initiated
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+---------+----+-----+-------+---+-------+----------+------------+------------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|genre_enr|year|month|quarter|day|weekday|month_name|weekday_name|quarter_name|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+---------+----+-----+-------+---+-------+----------+------------+------------+
|         695|2013-06-01 00:00:01|2013-06-01 00:11:36|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 19678|Subscriber|    1983.0|     1|FEMMEUILE|2013|    6|      2|  1|      7|      June|    Saturday|      2013Q2|
|         693|2013-06-01 00:00:08|2013-06-01 00:11:41|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 16649|Subscriber|    1984.0|     1|FEMMEUILE|2013|    6|      2|  1|      7|      June|    Saturday|      2013Q2|
|        2059|2013-06-01 00:00:44|2013-06-01 00:35:03|             406|Hicks St & Montag...|           40.69512845|           -73.99595065|         406.0|Hicks St & Montag...|         40.69512845|         -73.99595065| 19599|  Customer|      NULL|     0|FEMMEUILE|2013|    6|      2|  1|      7|      June|    Saturday|      2013Q2|
|         123|2013-06-01 00:01:04|2013-06-01 00:03:07|             475| E 15 St & Irving Pl|           40.73524276|           -73.98758561|         262.0|     Washington Park|          40.6917823|          -73.9737299| 16352|Subscriber|    1960.0|     1|FEMMEUILE|2013|    6|      2|  1|      7|      June|    Saturday|      2013Q2|
|        1521|2013-06-01 00:01:22|2013-06-01 00:26:43|            2008|Little West St & ...|           40.70569254|           -74.01677685|         310.0| State St & Smith St|         40.68926942|         -73.98912867| 15567|Subscriber|    1983.0|     1|FEMMEUILE|2013|    6|      2|  1|      7|      June|    Saturday|      2013Q2|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+---------+----+-----+-------+---+-------+----------+------------+------------+
only showing top 5 rows

In [15]:
from src.jobs.pyspark.interfaces import *
from src.jobs.pyspark.transformers import AddUuidToColumnID
from pyspark.sql.functions import *
config={'column_id':'uuid_id'}
# df.show(1)
AddUuidToColumnID().run(df,config).show(5)

Add uuid in to th column: uuid_id
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+---------+--------------------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|genre_enr|             uuid_id|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+---------+--------------------+
|         695|2013-06-01 00:00:01|2013-06-01 00:11:36|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 19678|Subscriber|    1983.0|     1|FEMMEUILE|f92ee793-b450-490...|
|         693|2013-06-01 00:00:08|2013-06-01 00:11:41|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 16649|Subscriber|    1984.0|     1|FEMMEUILE|6dbbe671-4ff3-4a3...|
|        2059|2013-06-01 00:00:44|2013-06-01 00:35:03|             406|Hicks St & Montag...|           40.69512845|           -73.99595065|         406.0|Hicks St & Montag...|         40.69512845|         -73.99595065| 19599|  Customer|      NULL|     0|FEMMEUILE|c05fc4f7-d047-420...|
|         123|2013-06-01 00:01:04|2013-06-01 00:03:07|             475| E 15 St & Irving Pl|           40.73524276|           -73.98758561|         262.0|     Washington Park|          40.6917823|          -73.9737299| 16352|Subscriber|    1960.0|     1|FEMMEUILE|f5deb0b2-8c98-401...|
|        1521|2013-06-01 00:01:22|2013-06-01 00:26:43|            2008|Little West St & ...|           40.70569254|           -74.01677685|         310.0| State St & Smith St|         40.68926942|         -73.98912867| 15567|Subscriber|    1983.0|     1|FEMMEUILE|b47ce78b-c829-46b...|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+---------+--------------------+
only showing top 5 rows

In [12]:
transform = AddRideType()

In [18]:
transform.run(df,config={}).show(5)

Ride type add column initiated
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-------------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|rideable_type|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-------------+
|         695|2013-06-01 00:00:01|2013-06-01 00:11:36|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 19678|Subscriber|    1983.0|     1| classic_bike|
|         693|2013-06-01 00:00:08|2013-06-01 00:11:41|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 16649|Subscriber|    1984.0|     1| classic_bike|
|        2059|2013-06-01 00:00:44|2013-06-01 00:35:03|             406|Hicks St & Montag...|           40.69512845|           -73.99595065|         406.0|Hicks St & Montag...|         40.69512845|         -73.99595065| 19599|  Customer|      NULL|     0| classic_bike|
|         123|2013-06-01 00:01:04|2013-06-01 00:03:07|             475| E 15 St & Irving Pl|           40.73524276|           -73.98758561|         262.0|     Washington Park|          40.6917823|          -73.9737299| 16352|Subscriber|    1960.0|     1| classic_bike|
|        1521|2013-06-01 00:01:22|2013-06-01 00:26:43|            2008|Little West St & ...|           40.70569254|           -74.01677685|         310.0| State St & Smith St|         40.68926942|         -73.98912867| 15567|Subscriber|    1983.0|     1| classic_bike|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-------------+
only showing top 5 rows