In [1]:
print('hello world')

hello world

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
        .appName("spark-etl_nybike_bronze") \
            .getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/05/13 16:55:44 WARN Utils: Your hostname, DESKTOP-2ELJ47S resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/05/13 16:55:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/13 16:55:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

25/05/13 16:56:01 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [2]:
df= spark.read.csv('volumes_and_data_services/data_nybike/2013-citibike-tripdata/6_June/201306-citibike-tripdata_1.csv',header=True)

In [7]:
df.show(4)

+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+---------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|genre_enr|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+---------+
|         695|2013-06-01 00:00:01|2013-06-01 00:11:36|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 19678|Subscriber|    1983.0|     1|FEMMEUILE|
|         693|2013-06-01 00:00:08|2013-06-01 00:11:41|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 16649|Subscriber|    1984.0|     1|FEMMEUILE|
|        2059|2013-06-01 00:00:44|2013-06-01 00:35:03|             406|Hicks St & Montag...|           40.69512845|           -73.99595065|         406.0|Hicks St & Montag...|         40.69512845|         -73.99595065| 19599|  Customer|      NULL|     0|FEMMEUILE|
|         123|2013-06-01 00:01:04|2013-06-01 00:03:07|             475| E 15 St & Irving Pl|           40.73524276|           -73.98758561|         262.0|     Washington Park|          40.6917823|          -73.9737299| 16352|Subscriber|    1960.0|     1|FEMMEUILE|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+---------+
only showing top 4 rows

In [5]:
import sys
import os

# Add the src directory to the Python path
sys.path.append(os.path.abspath("src/jobs/pyspark"))

In [6]:
from src.jobs.pyspark.interfaces import *
from src.jobs.pyspark.transformers import *
from pyspark.sql.functions import lit

df = AddColumnWithLiteralValue().run(df,{'column_to_add':{'column_name':'genre_enr','column_value':'FEMMEUILE'}})

Column With value literal initiated

In [12]:
transform = AddRideType()

In [18]:
transform.run(df,config={}).show(5)

Ride type add column initiated
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-------------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|rideable_type|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-------------+
|         695|2013-06-01 00:00:01|2013-06-01 00:11:36|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 19678|Subscriber|    1983.0|     1| classic_bike|
|         693|2013-06-01 00:00:08|2013-06-01 00:11:41|             444|  Broadway & W 24 St|            40.7423543|           -73.98915076|         434.0|     9 Ave & W 18 St|         40.74317449|         -74.00366443| 16649|Subscriber|    1984.0|     1| classic_bike|
|        2059|2013-06-01 00:00:44|2013-06-01 00:35:03|             406|Hicks St & Montag...|           40.69512845|           -73.99595065|         406.0|Hicks St & Montag...|         40.69512845|         -73.99595065| 19599|  Customer|      NULL|     0| classic_bike|
|         123|2013-06-01 00:01:04|2013-06-01 00:03:07|             475| E 15 St & Irving Pl|           40.73524276|           -73.98758561|         262.0|     Washington Park|          40.6917823|          -73.9737299| 16352|Subscriber|    1960.0|     1| classic_bike|
|        1521|2013-06-01 00:01:22|2013-06-01 00:26:43|            2008|Little West St & ...|           40.70569254|           -74.01677685|         310.0| State St & Smith St|         40.68926942|         -73.98912867| 15567|Subscriber|    1983.0|     1| classic_bike|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-------------+
only showing top 5 rows