In [4]:
!python3 --version

Python 3.10.12

In [1]:
import pyspark
from pyspark.sql import SparkSession
import os


## DEFINE SENSITIVE VARIABLES
NESSIE_URI = os.environ.get("NESSIE_URI") ## Nessie Server URI
WAREHOUSE = os.environ.get("WAREHOUSE") ## BUCKET TO WRITE DATA TOO
WAREHOUSE_BRONZE = os.environ.get("WAREHOUSE_BRONZE") ## BUCKET TO WRITE DATA TOO
WAREHOUSE_SYLVER = os.environ.get("WAREHOUSE_SYLVER") ## BUCKET TO WRITE DATA TOO
WAREHOUSE_GOLD = os.environ.get("WAREHOUSE_GOLD") ## BUCKET TO WRITE DATA TOO
AWS_ACCESS_KEY_ID = os.environ.get("AWS_ACCESS_KEY_ID") ## AWS CREDENTIALS
AWS_SECRET_ACCESS_KEY = os.environ.get("AWS_SECRET_ACCESS_KEY") ## AWS CREDENTIALS
AWS_S3_ENDPOINT= os.environ.get("AWS_S3_ENDPOINT") ## MINIO ENDPOINT


print(AWS_S3_ENDPOINT)
print(NESSIE_URI)
print(WAREHOUSE)
print(AWS_ACCESS_KEY_ID)
print(AWS_SECRET_ACCESS_KEY)
print(WAREHOUSE_SYLVER)

http://minio:9000
http://nessie:19120/api/v1
s3a://warehouse/
M1s2Sa2IecSYl6SR6n4W
Kj6gSYsC1Q5MJ6VXWVW1S1m8eC8gPKxtLcOxB2wk
s3a://sylver-warehouse/

In [9]:
# AWS_REGION is used by Spark
AWS_REGION="us-east-1"
# This must match if using minio
MINIO_REGION="us-east-1"
# Used by pyIceberg
AWS_DEFAULT_REGION="us-east-1"
# AWS Credentials (this can use minio credential, to be filled in later)
AWS_ACCESS_KEY_ID="YRUl5sf7KF7WTVAAgTSO"
AWS_SECRET_ACCESS_KEY="gWIjs4ljGZJHcum9RlZtKTrL5La7FNWXZvwppm6L"
# If using Minio, this should be the API address of Minio Server
AWS_S3_ENDPOINT="http://minio:9000"
# Location where files will be written when creating new tables
WAREHOUSE="s3a://warehouse/"
# URI of Nessie Catalog
NESSIE_URI="http://nessie:19120/api/v1"

In [2]:
#### not use
conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
        .set('spark.jars.packages','org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.5.0,org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.102.5,software.amazon.awssdk:bundle:2.20.131,software.amazon.awssdk:url-connection-client:2.20.131')
        .set('spark.sql.extensions','org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions')
        .set('spark.sql.catalog.bronze', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.bronze.uri', NESSIE_URI)
        .set('spark.sql.catalog.bronze.ref', 'main')
        .set('spark.sql.catalog.bronze.authentication.type', 'NONE')  # ✅ Move auth to "bronze" catalog
        .set('spark.sql.catalog.bronze.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')  # ✅ Use "bronze" prefix
        .set('spark.sql.catalog.bronze.s3.path-style-access', 'true')  # ✅ Configure S3 for "bronze"
        .set('spark.sql.catalog.bronze.s3.endpoint', AWS_S3_ENDPOINT)  # ✅ Fixed typo (no 's' at end)
        .set('spark.sql.catalog.bronze.warehouse', WAREHOUSE)
        .set('spark.sql.catalog.bronze.io-impl', 'org.apache.iceberg.aws.s3.S3FileIO')  # ✅ Use "bronze" prefix
        .set('spark.hadoop.fs.s3a.access.key', AWS_ACCESS_KEY_ID)
        .set('spark.hadoop.fs.s3a.secret.key', AWS_SECRET_ACCESS_KEY)
        .set('spark.hadoop.fs.s3a.path.style.access','true')
        .set('spark.hadoop.fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem')
)

In [25]:
## base config
conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
        .set('spark.jars.packages','org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.5.0,org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.102.5,software.amazon.awssdk:bundle:2.20.131,software.amazon.awssdk:url-connection-client:2.20.131')
        .set('spark.sql.extensions','org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions')
        .set('spark.hadoop.fs.s3a.access.key', AWS_ACCESS_KEY_ID)
        .set('spark.hadoop.fs.s3a.secret.key', AWS_SECRET_ACCESS_KEY)
        .set('spark.hadoop.fs.s3a.path.style.access','true')
        .set('spark.hadoop.fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem')
)

In [27]:
## config bronze

conf.set('spark.sql.catalog.bronze', 'org.apache.iceberg.spark.SparkCatalog')\
.set('spark.sql.catalog.bronze.uri', NESSIE_URI)\
.set('spark.sql.catalog.bronze.ref', 'main')\
.set('spark.sql.catalog.bronze.authentication.type', 'NONE')\
.set('spark.sql.catalog.bronze.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')\
.set('spark.sql.catalog.bronze.s3.path-style-access', 'true')\
.set('spark.sql.catalog.bronze.s3.endpoint', AWS_S3_ENDPOINT)\
.set('spark.sql.catalog.bronze.warehouse', WAREHOUSE_BRONZE)

In [14]:
## Sylver settings catalog

conf.set('spark.sql.catalog.sylver', 'org.apache.iceberg.spark.SparkCatalog')\
    .set('spark.sql.catalog.sylver.uri',NESSIE_URI)\
    .set('spark.sql.catalog.sylver.ref', 'main')\
    .set('spark.sql.catalog.sylver.authentication.type', 'NONE')\
    .set('spark.sql.catalog.sylver.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')\
    .set('spark.sql.catalog.sylver.s3.path-style-access', 'true')\
    .set('spark.sql.catalog.sylver.s3.endpoint',AWS_S3_ENDPOINT)\
    .set('spark.sql.catalog.sylver.warehouse',WAREHOUSE_BRONZE)\
    .set('spark.sql.catalog.sylver.io-impl', 'org.apache.iceberg.aws.s3.S3FileIO')\

In [50]:
## Bronze settings catalog

conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
        .set('spark.jars.packages','org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.5.0,org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.102.5,software.amazon.awssdk:bundle:2.20.131,software.amazon.awssdk:url-connection-client:2.20.131')
        .set('spark.sql.extensions','org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions')
        .set('spark.sql.catalog.sylver', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.sylver.uri',NESSIE_URI)
        .set('spark.sql.catalog.sylver.ref', 'main')
        .set('spark.sql.catalog.sylver.authentication.type', 'NONE')  # ✅ Move auth to "bronze" catalog
        .set('spark.sql.catalog.sylver.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')  # ✅ Use "bronze" prefix
        .set('spark.sql.catalog.sylver.s3.path-style-access', 'true')  # ✅ Configure S3 for "bronze"
        .set('spark.sql.catalog.sylver.s3.endpoint',AWS_S3_ENDPOINT)  # ✅ Fixed typo (no 's' at end)
        .set('spark.sql.catalog.sylver.warehouse',WAREHOUSE_BRONZE)
        .set('spark.sql.catalog.sylver.io-impl', 'org.apache.iceberg.aws.s3.S3FileIO')  # ✅ Use "bronze" prefix
        .set('spark.hadoop.fs.s3a.access.key',AWS_ACCESS_KEY_ID)
        .set('spark.hadoop.fs.s3a.secret.key',AWS_SECRET_ACCESS_KEY)
        .set('spark.hadoop.fs.s3a.path.style.access','true')
        .set('spark.hadoop.fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem')
)

In [50]:
## Sylver settings catalog

conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
        .set('spark.jars.packages','org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.5.0,org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.102.5,software.amazon.awssdk:bundle:2.20.131,software.amazon.awssdk:url-connection-client:2.20.131')
        .set('spark.sql.extensions','org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions')
        .set('spark.sql.catalog.sylver', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.sylver.uri', NESSIE_URI)
        .set('spark.sql.catalog.sylver.ref', 'main')
        .set('spark.sql.catalog.sylver.authentication.type', 'NONE')  # ✅ Move auth to "bronze" catalog
        .set('spark.sql.catalog.sylver.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')  # ✅ Use "bronze" prefix
        .set('spark.sql.catalog.sylver.s3.path-style-access', 'true')  # ✅ Configure S3 for "bronze"
        .set('spark.sql.catalog.sylver.s3.endpoint', AWS_S3_ENDPOINT)  # ✅ Fixed typo (no 's' at end)
        .set('spark.sql.catalog.sylver.warehouse', WAREHOUSE_SYLVER)
        .set('spark.sql.catalog.sylver.io-impl', 'org.apache.iceberg.aws.s3.S3FileIO')  # ✅ Use "bronze" prefix
        .set('spark.hadoop.fs.s3a.access.key', AWS_ACCESS_KEY_ID)
        .set('spark.hadoop.fs.s3a.secret.key', AWS_SECRET_ACCESS_KEY)
        .set('spark.hadoop.fs.s3a.path.style.access','true')
        .set('spark.hadoop.fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem')
)

In [50]:
## Gold settings catalog

conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
        .set('spark.jars.packages','org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.5.0,org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.102.5,software.amazon.awssdk:bundle:2.20.131,software.amazon.awssdk:url-connection-client:2.20.131')
        .set('spark.sql.extensions','org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions')
        .set('spark.sql.catalog.sylver', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.sylver.uri', NESSIE_URI)
        .set('spark.sql.catalog.sylver.ref', 'main')
        .set('spark.sql.catalog.sylver.authentication.type', 'NONE')  # ✅ Move auth to "bronze" catalog
        .set('spark.sql.catalog.sylver.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')  # ✅ Use "bronze" prefix
        .set('spark.sql.catalog.sylver.s3.path-style-access', 'true')  # ✅ Configure S3 for "bronze"
        .set('spark.sql.catalog.sylver.s3.endpoint', AWS_S3_ENDPOINT)  # ✅ Fixed typo (no 's' at end)
        .set('spark.sql.catalog.sylver.warehouse', WAREHOUSE_GOLD)
        .set('spark.sql.catalog.sylver.io-impl', 'org.apache.iceberg.aws.s3.S3FileIO')  # ✅ Use "bronze" prefix
        .set('spark.hadoop.fs.s3a.access.key', AWS_ACCESS_KEY_ID)
        .set('spark.hadoop.fs.s3a.secret.key', AWS_SECRET_ACCESS_KEY)
        .set('spark.hadoop.fs.s3a.path.style.access','true')
        .set('spark.hadoop.fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem')
)

In [3]:
## Start Spark Session
spark = SparkSession.builder.config(conf=conf).getOrCreate()
# print("Spark Running")

:: loading settings :: url = jar:file:/opt/spark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12 added as a dependency
software.amazon.awssdk#bundle added as a dependency
software.amazon.awssdk#url-connection-client added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-10c0b760-6088-45f5-900f-0f4ea9468679;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.5.0 in central
	found org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12;0.102.5 in central
	found software.amazon.awssdk#bundle;2.20.131 in central
	found software.amazon.eventstream#eventstream;1.0.1 in central
	found software.amazon.awssdk#url-connection-client;2.20.131 in central
	found software.amazon.awssdk#utils;2.20.131 in central
	found org.reactivestreams#reactive-streams;1.0.3 in central
	found software.amazon.awssdk#annotations;2.20.131 in central
	found org.slf4j#slf4j-api;1.7.30 in central
	found software.amazon.awssdk#http-client-spi;2.20.131 in central
	found software.amazon.awssdk#metrics-spi;2.20.131 in central
:: resolution report :: resolve 1052ms :: artifacts dl 37ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.5.0 from central in [default]
	org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12;0.102.5 from central in [default]
	org.reactivestreams#reactive-streams;1.0.3 from central in [default]
	org.slf4j#slf4j-api;1.7.30 from central in [default]
	software.amazon.awssdk#annotations;2.20.131 from central in [default]
	software.amazon.awssdk#bundle;2.20.131 from central in [default]
	software.amazon.awssdk#http-client-spi;2.20.131 from central in [default]
	software.amazon.awssdk#metrics-spi;2.20.131 from central in [default]
	software.amazon.awssdk#url-connection-client;2.20.131 from central in [default]
	software.amazon.awssdk#utils;2.20.131 from central in [default]
	software.amazon.eventstream#eventstream;1.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   11  |   0   |   0   |   0   ||   11  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-10c0b760-6088-45f5-900f-0f4ea9468679
	confs: [default]
	0 artifacts copied, 11 already retrieved (0kB/31ms)
25/04/17 10:25:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [44]:
# spark.stop()

In [4]:
spark

In [27]:
print(spark.conf.get('spark.sql.catalog.nessie.s3.endpoint'))

http://minio:9000

In [244]:
## Create a Table
spark.sql("show databases in bronze;").show()

+---------------+
|      namespace|
+---------------+
|     DW_ny_bike|
|SylverDw_nybike|
+---------------+

In [29]:
## Create a Table
spark.sql(" CREATE DATABASE bronze.SylverDw_nybike;")

DataFrame[]

In [19]:
## Create a Table
spark.sql(" CREATE DATABASE IF NOT EXISTS sylver.DW_ny_bike;")

DataFrame[]

In [270]:
spark.sql("show table bronze.SylverDw_nybike;").show()

In [269]:
spark.sql("DROP TABLE bronze.SylverDw_nybike.trip_data_nybike;").show()

In [6]:
# spark.sql("show tables in nessie.dw_nybike;").show()
spark.sql("SHOW TBLPROPERTIES bronze.SylverDw_nybike.trip_data_nybike;").show()
# spark.sql("SELECT * FROM nessie.dw_nybike.trip_data_nybike_v2.snapshots;").show()

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

+--------------------+--------------------+
|                 key|               value|
+--------------------+--------------------+
| current-snapshot-id| 5479237530675047789|
|              format|     iceberg/parquet|
|      format-version|                   2|
|          gc.enabled|               false|
|    nessie.commit.id|5133ffd6f336e8366...|
|write.metadata.de...|               false|
|write.parquet.com...|                zstd|
+--------------------+--------------------+

In [57]:
spark.sql("""
CREATE TABLE bronze.DW_ny_bike.trip_data_nybike(
    dw_period_tag string,
    ride_id string,
	start_station_id string,
	start_station_name string,
	start_station_latitude string ,
	start_station_longitude string ,
	end_station_id string,
	end_station_name string,
	end_station_latitude string,
	end_station_longitude string,
	user_type string,
    gender string,
	customer_year_birth string,
    bike_id string,
	rideable_type string,
	start_at string,
	stop_at string, 
	trip_duration string
    )
USING iceberg
PARTITIONED BY (dw_period_tag)
;
""")

DataFrame[]

In [255]:
spark.sql("""
CREATE TABLE bronze.SylverDw_nybike.trip_data_nybike(
    trip_uuid string,
    dw_period_tag string,
	start_station_id string,
	start_station_name string,
	start_station_latitude string,
	start_station_longitude string,
	end_station_id string,
	end_station_name string,
	end_station_latitude string,
	end_station_longitude string,
	bike_id string,
	user_type string,
    enr_user_type string,
    enr_gender string,
	customer_year_birth  string,
	rideable_type string,
	start_at timestamp,
	stop_at timestamp,
	trip_duration double,
    year integer,
    quarter integer,
    quarter_name string,
    month integer,
    month_name string,
    day integer,
    weekday integer,
    weekday_name string
    )
USING iceberg
PARTITIONED BY (dw_period_tag)
    ;
    """)

DataFrame[]

In [31]:
# spark.sql("SHOW tables in bronze.DW_ny_bike;").show()
# spark.sql("ALTER TABLE bronze.DW_ny_bike.trip_data_nybike ALTER COLUMN start_at TYPE string;")
# spark.sql("DROP TABLE bronze.DW_ny_bike.trip_data_nybike;")
spark.sql("TRUNCATE TABLE bronze.SylverDw_nybike.trip_data_nybike;")

DataFrame[]

In [43]:
# spark.sql("select count(*) from bronze.DW_ny_bike.trip_data_nybike  limit 19;").show()

spark.sql("""
select 
    *
    --count(*) 
    --distinct(enr_user_type)
from bronze.SylverDw_nybike.trip_data_nybike 
where 
    dw_period_tag = '2015'
    limit 10
    ;"""
         ).show()

+---------+-------------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+-------+---------+-------------+----------+-------------------+-------------+--------+-------+-------------+----+-------+------------+-----+----------+---+-------+------------+
|trip_uuid|dw_period_tag|start_station_id|start_station_name|start_station_latitude|start_station_longitude|end_station_id|end_station_name|end_station_latitude|end_station_longitude|bike_id|user_type|enr_user_type|enr_gender|customer_year_birth|rideable_type|start_at|stop_at|trip_duration|year|quarter|quarter_name|month|month_name|day|weekday|weekday_name|
+---------+-------------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+-------+---------+-------------+----------+-------------------+-------------+--------+-------+-------------+----+-------+------------+-----+----------+---+-------+------------+
+---------+-------------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+-------+---------+-------------+----------+-------------------+-------------+--------+-------+-------------+----+-------+------------+-----+----------+---+-------+------------+

In [27]:
# spark.sql("select distinct(dw_period_tag) from  bronze.DW_ny_bike.trip_data_nybike limit 19;").show()
spark.sql("""
select 
--count(*)
*
from  bronze.DW_ny_bike.trip_data_nybike 
where dw_period_tag like '200408%' 
limit 19;
""").show()
# spark.sql("DELETE FROM bronze.DW_ny_bike.trip_data_nybike WHERE dw_period_tag='2022';")

+-------------+----------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+---------+------+-------------------+-------+-------------+--------------------+--------------------+-------------+
|dw_period_tag|         ride_id|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude|user_type|gender|customer_year_birth|bike_id|rideable_type|            start_at|             stop_at|trip_duration|
+-------------+----------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+---------+------+-------------------+-------+-------------+--------------------+--------------------+-------------+
|       200408|DDF3FD436F128E4E|         8149.09|Ogden Ave & W 165 St|             40.834457|             -73.928381|       8041.07|E 161 St & River Ave|           40.827883|           -73.927111|   member|  NULL|               NULL|   NULL|electric_bike|2024-08-29 15:01:...|2024-08-29 15:05:...|         NULL|
|       200408|AFE5DB88E15109EA|         5430.08|Franklin St & W B...|           40.71911552|           -74.00666661|       5470.12|North Moore St & ...|   40.72019521437465|    -74.0103006362915|   member|  NULL|               NULL|   NULL| classic_bike|2024-08-21 18:41:...|2024-08-21 18:48:...|         NULL|
|       200408|88F1CE37D662D8E8|         5593.04|      E 4 St & 2 Ave|            40.7262807|           -73.98978041|        5779.1|     E 14 St & 1 Ave|   40.73139303364151|   -73.98286700248718|   member|  NULL|               NULL|   NULL| classic_bike|2024-08-23 19:12:...|2024-08-23 19:16:...|         NULL|
|       200408|73D93F3505537785|         5730.08|Greenwich St & W ...|             40.728846|             -74.008591|       5703.13|     Ave A & E 11 St|   40.72854745023944|   -73.98175925016403|   member|  NULL|               NULL|   NULL|electric_bike|2024-08-18 16:45:...|2024-08-18 17:02:...|         NULL|
|       200408|28D0FF30828DEAA0|         8218.04|Ogden Ave & Merri...|             40.839142|             -73.925961|       8041.07|E 161 St & River Ave|           40.827883|           -73.927111|   member|  NULL|               NULL|   NULL|electric_bike|2024-08-27 15:49:...|2024-08-27 16:00:...|         NULL|
|       200408|5A17C0AC8C2F55EC|         8149.09|Ogden Ave & W 165 St|             40.834457|             -73.928381|       8277.03|Washington Ave & ...|           40.843079|           -73.900216|   member|  NULL|               NULL|   NULL|electric_bike|2024-08-27 08:27:...|2024-08-27 08:41:...|         NULL|
|       200408|87343991172AEEB6|         5430.08|Franklin St & W B...|           40.71911552|           -74.00666661|        5779.1|     E 14 St & 1 Ave|   40.73139303364151|   -73.98286700248718|   member|  NULL|               NULL|   NULL|electric_bike|2024-08-28 19:09:...|2024-08-28 19:24:...|         NULL|
|       200408|B3E3C9942D973AC0|         8149.09|Ogden Ave & W 165 St|             40.834457|             -73.928381|       8277.03|Washington Ave & ...|           40.843079|           -73.900216|   member|  NULL|               NULL|   NULL|electric_bike|2024-08-30 08:03:...|2024-08-30 08:25:...|         NULL|
|       200408|2D881E40E696D7DF|         6667.04|     W 47 St & 6 Ave|             40.758397|              -73.98255|       5769.06|     Ave C & E 16 St|   40.72984830346529|   -73.97455215454102|   member|  NULL|               NULL|   NULL|electric_bike|2024-08-27 11:52:...|2024-08-27 12:06:...|         NULL|
|       200408|8AE19AC118EBEE56|         6190.08|     9 Ave & W 18 St|           40.74317449|           -74.00366443|       5703.13|     Ave A & E 11 St|   40.72854745023944|   -73.98175925016403|   member|  NULL|               NULL|   NULL|electric_bike|2024-08-28 18:38:...|2024-08-28 18:51:...|         NULL|
|       200408|F13BB747C9285CC7|         5730.08|Greenwich St & W ...|             40.728846|             -74.008591|       5578.02|Watts St & Greenw...|         40.72405549|         -74.00965965|   member|  NULL|               NULL|   NULL|electric_bike|2024-08-19 09:31:...|2024-08-19 09:33:...|         NULL|
|       200408|86B47E48BFB28A68|         5593.04|      E 4 St & 2 Ave|            40.7262807|           -73.98978041|        5779.1|     E 14 St & 1 Ave|   40.73139303364151|   -73.98286700248718|   member|  NULL|               NULL|   NULL|electric_bike|2024-08-19 16:53:...|2024-08-19 16:57:...|         NULL|
|       200408|3A19A05437BE15EC|         5730.08|Greenwich St & W ...|             40.728846|             -74.008591|       5769.06|     Ave C & E 16 St|   40.72984830346529|   -73.97455215454102|   member|  NULL|               NULL|   NULL| classic_bike|2024-08-27 21:36:...|2024-08-27 21:58:...|         NULL|
|       200408|3FF519C91D2E2005|         5001.08|Little West St & ...|           40.70569254|           -74.01677685|       5470.12|North Moore St & ...|   40.72019521437465|    -74.0103006362915|   member|  NULL|               NULL|   NULL| classic_bike|2024-08-16 06:12:...|2024-08-16 06:19:...|         NULL|
|       200408|F475DDF35D5C1924|         5593.04|      E 4 St & 2 Ave|            40.7262807|           -73.98978041|        5779.1|     E 14 St & 1 Ave|   40.73139303364151|   -73.98286700248718|   member|  NULL|               NULL|   NULL| classic_bike|2024-08-16 22:04:...|2024-08-16 22:10:...|         NULL|
|       200408|F006049EAFE6A8F6|         5001.08|Little West St & ...|           40.70569254|           -74.01677685|       5470.12|North Moore St & ...|   40.72019521437465|    -74.0103006362915|   member|  NULL|               NULL|   NULL| classic_bike|2024-08-18 08:20:...|2024-08-18 08:28:...|         NULL|
|       200408|CA22FD4535DFB102|         5001.08|Little West St & ...|           40.70569254|           -74.01677685|       5470.12|North Moore St & ...|   40.72019521437465|    -74.0103006362915|   member|  NULL|               NULL|   NULL|electric_bike|2024-08-16 08:16:...|2024-08-16 08:22:...|         NULL|
|       200408|69B6281FF98F9DB3|         5730.08|Greenwich St & W ...|             40.728846|             -74.008591|       5470.12|North Moore St & ...|   40.72019521437465|    -74.0103006362915|   member|  NULL|               NULL|   NULL| classic_bike|2024-08-28 07:31:...|2024-08-28 07:38:...|         NULL|
|       200408|9D3D77FCBA82174B|         3460.02|       36 St & 3 Ave|             40.655716|             -74.006664|       4042.08|Underhill Ave & L...|          40.6740123|          -73.9671457|   member|  NULL|               NULL|   NULL|electric_bike|2024-08-31 18:52:...|2024-08-31 19:08:...|         NULL|
+-------------+----------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+---------+------+-------------------+-------+-------------+--------------------+--------------------+-------------+

In [4]:
## Insert Some Data
spark.sql("INSERT INTO nessie.names VALUES ('Alex Merced'), ('Dipankar Mazumdar'), ('Jason Hughes')").show()

++
||
++
++

+-----------------+
|             name|
+-----------------+
|      Alex Merced|
|Dipankar Mazumdar|
|     Jason Hughes|
+-----------------+

In [68]:
## Query the Data
spark.sql("SELECT * FROM nessie.dw_nybike.trip_data_nybike limit 3;").show()

+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+--------+-------+-------------+
|dw_period_tag|ride_id|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude| user_type|gender|customer_year_birth|bike_id|rideable_type|start_at|stop_at|trip_duration|
+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+--------+-------+-------------+
|         2014|   NULL|             479|     9 Ave & W 45 St|           40.76019252|            -73.9912551|           540|Lexington Ave & E...|         40.74147286|         -73.98320928|Subscriber|     1|             1977.0|  21376|         NULL|    NULL|   NULL|       1027.0|
|         2014|   NULL|             417|Barclay St & Chur...|           40.71291224|           -74.01020234|           417|Barclay St & Chur...|         40.71291224|         -74.01020234|Subscriber|     2|             1974.0|  16086|         NULL|    NULL|   NULL|        534.0|
|         2014|   NULL|             327|Vesey Pl & River ...|            40.7153379|           -74.01658354|           415|Pearl St & Hanove...|          40.7047177|         -74.00926027|Subscriber|     1|             1990.0|  16073|         NULL|    NULL|   NULL|        416.0|
+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+--------+-------+-------------+

In [5]:
from pyspark.sql import DataFrame 
from typing import Optional
from pyspark.sql.functions import lit,concat,to_timestamp,unix_timestamp , from_unixtime ,try_to_timestamp,col,month , udf,isnull ,when
from pyspark.sql.types import StructType, StructField, StringType, IntegerType , TimestampType , DoubleType , FloatType, DateType,NullType
from pyspark.sql import functions as f


bronze_schema_ny_bike = StructType([
    StructField("dw_period_tag", StringType(), nullable=True),
    StructField("ride_id", StringType(), nullable=True),
    StructField("start_station_id", StringType(), nullable=True),
    StructField("start_station_name", StringType(), nullable=True),
    StructField("start_station_latitude", StringType(), nullable=True),
    StructField("start_station_longitude", StringType(), nullable=True),
    StructField("end_station_id", StringType(), nullable=True),
    StructField("end_station_name", StringType(), nullable=True),
    StructField("end_station_latitude", StringType(), nullable=True),
    StructField("end_station_longitude", StringType(), nullable=True),
    StructField("bike_id", StringType(), nullable=True),
    StructField("user_type", StringType(), nullable=True),
    StructField("gender", StringType(), nullable=True),
    StructField("customer_year_birth", StringType(), nullable=True),
    StructField("rideable_type", StringType(), nullable=True),
    StructField("start_at", StringType(), nullable=True),
    StructField("stop_at", StringType(), nullable=True),
    StructField("trip_duration", StringType(), nullable=True)
])

sylver_schema_ny_bike = StructType([
    StructField("trip_uuid", StringType(), nullable=True),
    StructField("dw_period_tag", StringType(), nullable=True),
    StructField("start_station_id", StringType(), nullable=True),
    StructField("start_station_name", StringType(), nullable=True),
    StructField("start_station_latitude", StringType(), nullable=True),
    StructField("start_station_longitude", StringType(), nullable=True),
    StructField("end_station_id", StringType(), nullable=True),
    StructField("end_station_name", StringType(), nullable=True),
    StructField("end_station_latitude", StringType(), nullable=True),
    StructField("end_station_longitude", StringType(), nullable=True),
    StructField("bike_id", StringType(), nullable=True),
    StructField("enr_gender", StringType(), nullable=True),
    StructField("customer_year_birth", StringType(), nullable=True),
    StructField("rideable_type", StringType(), nullable=True),
    StructField("start_at", TimestampType(), nullable=True),
    StructField("stop_at", TimestampType(), nullable=True),
    StructField("trip_duration", DoubleType(), nullable=True),
    StructField("user_type", StringType(), nullable=True),
    StructField("enr_user_type", StringType(), nullable=True),
    StructField("year", IntegerType(), nullable=True),
    StructField("quarter", IntegerType(), nullable=True),
    StructField("quarter_name", StringType(), nullable=True),
    StructField("month", IntegerType(), nullable=True),
    StructField("month_name", StringType(), nullable=True),
    StructField("day", IntegerType(), nullable=True),
    StructField("weekday", IntegerType(), nullable=True),
    StructField("weekday_name", StringType(), nullable=True)
])

In [50]:
import yaml
def config_reader(path:str):
    # Load YAML config
    with open(path, "r") as f:
        config = yaml.safe_load(f)
    return config
    
def run(df,config):
    print("Cast To Datamodel initiated")
    data_model_from_df = list(dict(df.dtypes).keys())

    filtered_column = list(filter( lambda x: x not in data_model_from_df ,config['schema'].names ))
    if len(filtered_column) > 0 :
        for column in filtered_column:
            df =  df.withColumn(column, lit(None))

    df = df.select([
        col(field.name).cast(field.dataType).alias(field.name) 
        for field in config['schema'].fields
    ])
    return df

In [49]:
file_bike_2015='/opt/airflow/data/2015-citibike-tripdata/1_January/*.csv'
# file_bike_2017='/opt/airflow/data/2017-citibike-tripdata/*/*.csv'

In [54]:
!ls /opt/airflow/data/2015-citibike-tripdata/

10_October   12_December  2_February  4_April  6_June  8_August
11_November  1_January	  3_March     5_May    7_July  9_September

In [45]:
!head /opt/airflow/data/2015-citibike-tripdata/10_October/*.csv

==> /opt/airflow/data/2015-citibike-tripdata/10_October/201510-citibike-tripdata_1.csv <==
tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
171,10/1/2015 00:00:02,10/1/2015 00:02:54,388,W 26 St & 10 Ave,40.749717753,-74.002950346,494,W 26 St & 8 Ave,40.74734825,-73.99723551,24302,Subscriber,1973.0,1
593,10/1/2015 00:00:02,10/1/2015 00:09:55,518,E 39 St & 2 Ave,40.74780373,-73.9734419,438,St Marks Pl & 1 Ave,40.72779126,-73.98564945,19904,Subscriber,1990.0,1
233,10/1/2015 00:00:11,10/1/2015 00:04:05,447,8 Ave & W 52 St,40.76370739,-73.9851615,447,8 Ave & W 52 St,40.76370739,-73.9851615,17797,Subscriber,1984.0,1
250,10/1/2015 00:00:15,10/1/2015 00:04:25,336,Sullivan St & Washington Sq,40.73047747,-73.99906065,223,W 13 St & 7 Ave,40.73781509,-73.99994661,23966,Subscriber,1984.0,1
528,10/1/2015 00:00:17,10/1/2015 00:09:05,3107,Bedford Ave & Nassau Ave,40.72311651,-73.95212324,539,Metropolitan Ave & Bedford Ave,40.71534825,-73.96024116,16246,Customer,,0
440,10/1/2015 00:00:17,10/1/2015 00:07:37,3107,Bedford Ave & Nassau Ave,40.72311651,-73.95212324,539,Metropolitan Ave & Bedford Ave,40.71534825,-73.96024116,23698,Customer,,0
1185,10/1/2015 00:00:22,10/1/2015 00:20:07,531,Forsyth St & Broome St,40.71893904,-73.99266288,3064,Myrtle Ave & Lewis Ave,40.69681963,-73.93756926,17110,Subscriber,1987.0,1
618,10/1/2015 00:00:25,10/1/2015 00:10:44,3002,South End Ave & Liberty St,40.711512,-74.015756,2004,6 Ave & Broome St,40.724399,-74.004704,16344,Subscriber,1989.0,1
865,10/1/2015 00:00:31,10/1/2015 00:14:57,438,St Marks Pl & 1 Ave,40.72779126,-73.98564945,486,Broadway & W 29 St,40.7462009,-73.98855723,23822,Subscriber,1991.0,2

==> /opt/airflow/data/2015-citibike-tripdata/10_October/201510-citibike-tripdata_2.csv <==
tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
555,10/26/2015 13:10:10,10/26/2015 13:19:25,480,W 53 St & 10 Ave,40.76669671,-73.99061728,524,W 43 St & 6 Ave,40.75527307,-73.98316936,17359,Subscriber,1988.0,1
818,10/26/2015 13:10:19,10/26/2015 13:23:58,281,Grand Army Plaza & Central Park S,40.7643971,-73.97371465,3148,E 84 St & 1 Ave,40.77565541,-73.95068615,19726,Subscriber,1993.0,1
400,10/26/2015 13:10:18,10/26/2015 13:16:58,293,Lafayette St & E 8 St,40.73028666,-73.9907647,303,Mercer St & Spring St,40.72362738,-73.99949601,23696,Subscriber,1984.0,1
513,10/26/2015 13:10:20,10/26/2015 13:18:53,362,Broadway & W 37 St,40.75172632,-73.98753523,435,W 21 St & 6 Ave,40.74173969,-73.99415556,23812,Subscriber,1979.0,1
233,10/26/2015 13:10:21,10/26/2015 13:14:14,3158,W 63 St & Broadway,40.77163851,-73.98261428,468,Broadway & W 55 St,40.7652654,-73.98192338,24045,Subscriber,1987.0,1
1081,10/26/2015 13:10:22,10/26/2015 13:28:23,519,Pershing Square North,40.751873,-73.977706,3144,E 81 St & Park Ave,40.77677702,-73.9590097,15974,Subscriber,1984.0,2
728,10/26/2015 13:10:26,10/26/2015 13:22:35,447,8 Ave & W 52 St,40.76370739,-73.9851615,3159,W 67 St & Broadway,40.77492513,-73.98266566,19366,Subscriber,1989.0,1
277,10/26/2015 13:10:29,10/26/2015 13:15:07,2008,Little West St & 1 Pl,40.70569254,-74.01677685,534,Water - Whitehall Plaza,40.70255065,-74.0127234,20641,Subscriber,1956.0,2
268,10/26/2015 13:10:35,10/26/2015 13:15:04,448,W 37 St & 10 Ave,40.75660359,-73.9979009,458,11 Ave & W 27 St,40.751396,-74.005226,23379,Subscriber,1971.0,1

In [39]:
# dfinit =spark.read.format('csv').options(inferSchema='True', header='True',delimiter=',').load(file_bike_2015)
# df2017 =spark.read.format('csv').options(header='True').load(file_bike_2017)
dfinit= spark.sql("""SELECT * FROM bronze.DW_ny_bike.trip_data_nybike WHERE dw_period_tag='2015'; """)

In [40]:
dfinit.count()

9937969

In [8]:
dfinit_2= spark.sql("""SELECT * FROM bronze.DW_ny_bike.trip_data_nybike WHERE dw_period_tag='2015'; """)

In [ ]:
spark.sql("""SELECT * FROM bronze.DW_ny_bike.trip_data_nybike WHERE dw_period_tag='2015'; """)

In [31]:
config=config_reader('config.yaml')

In [9]:
dfinit_2.filter(dfinit_2.start_at.like('1/18/2015%')).show(3)

+-------------+-------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+--------------+--------------+-------------+
|dw_period_tag|ride_id|start_station_id|start_station_name|start_station_latitude|start_station_longitude|end_station_id|end_station_name|end_station_latitude|end_station_longitude| user_type|gender|customer_year_birth|bike_id|rideable_type|      start_at|       stop_at|trip_duration|
+-------------+-------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+--------------+--------------+-------------+
|         2015|   NULL|             499|Broadway & W 60 St|           40.76915505|           -73.98191841|           423| W 54 St & 9 Ave|         40.76584941|         -73.98690506|Subscriber|     1|             1984.0|  15338|         NULL|1/18/2015 0:00|1/18/2015 0:05|          269|
|         2015|   NULL|             164|   E 47 St & 2 Ave|           40.75323098|           -73.97032517|          2017| E 43 St & 2 Ave|         40.75022392|         -73.97121414|Subscriber|     1|             1954.0|  19103|         NULL|1/18/2015 0:01|1/18/2015 0:39|         2275|
|         2015|   NULL|             529|   W 42 St & 8 Ave|            40.7575699|           -73.99098507|           478|11 Ave & W 41 St|         40.76030096|         -73.99884222|Subscriber|     1|             1981.0|  15653|         NULL|1/18/2015 0:01|1/18/2015 0:05|          223|
+-------------+-------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+--------------+--------------+-------------+
only showing top 3 rows

In [72]:
dfinit_2.filter(dfinit_2.start_at.like('10/16/2015%')).show(3)

+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+-------------------+-------------------+-------------+
|dw_period_tag|ride_id|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude| user_type|gender|customer_year_birth|bike_id|rideable_type|           start_at|            stop_at|trip_duration|
+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+-------------------+-------------------+-------------+
|         2015|   NULL|             497|  E 17 St & Broadway|           40.73704984|           -73.99009296|           518|     E 39 St & 2 Ave|         40.74780373|          -73.9734419|Subscriber|     2|             1979.0|  20184|         NULL|10/16/2015 00:00:06|10/16/2015 00:18:04|         1077|
|         2015|   NULL|            3176|W 64 St & West En...|           40.77452835|           -73.98753759|          3175|W 70 St & Amsterd...|         40.77748046|         -73.98288594|Subscriber|     1|             1977.0|  24188|         NULL|10/16/2015 00:00:13|10/16/2015 00:07:21|          427|
|         2015|   NULL|             512|     W 29 St & 9 Ave|            40.7500727|           -73.99839279|           536|     1 Ave & E 30 St|         40.74144387|         -73.97536082|Subscriber|     1|             1979.0|  15005|         NULL|10/16/2015 00:00:17|10/16/2015 00:10:52|          634|
+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+-------------------+-------------------+-------------+
only showing top 3 rows

In [135]:
config={'schema':sylver_schema_ny_bike}
df_casted = run(dfinit,config)

Cast To Datamodel initiated

In [138]:
df_casted.printSchema()

root
 |-- trip_uuid: string (nullable = true)
 |-- dw_period_tag: string (nullable = true)
 |-- start_station_id: string (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: string (nullable = true)
 |-- start_station_longitude: string (nullable = true)
 |-- end_station_id: string (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_latitude: string (nullable = true)
 |-- end_station_longitude: string (nullable = true)
 |-- bike_id: integer (nullable = true)
 |-- enr_gender: string (nullable = true)
 |-- customer_year_birth: string (nullable = true)
 |-- rideable_type: string (nullable = true)
 |-- start_at: timestamp (nullable = true)
 |-- stop_at: timestamp (nullable = true)
 |-- trip_duration: double (nullable = true)
 |-- customer_type: string (nullable = true)
 |-- quarter: integer (nullable = true)
 |-- quarter_name: string (nullable = true)
 |-- month: integer (nullable = true)
 |-- month_name: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: integer (nullable = true)
 |-- weekday_name: string (nullable = true)

In [130]:
# df_casted.select('*').when(isnull('start_at')).show(10)
# df_casted.filter(month(col('start_at')) ==  ).show(1)

In [12]:
df_renamed.printSchema()

root
 |-- trip_duration: integer (nullable = true)
 |-- start_at: string (nullable = true)
 |-- stop_at: string (nullable = true)
 |-- start_station_id: integer (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: double (nullable = true)
 |-- start_station_longitude: double (nullable = true)
 |-- end_station_id: integer (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_latitude: double (nullable = true)
 |-- end_station_longitude: double (nullable = true)
 |-- bike_id: integer (nullable = true)
 |-- user_type: string (nullable = true)
 |-- customer_year_birth: string (nullable = true)
 |-- gender: integer (nullable = true)

In [69]:
# dfconverted = df.to(bronze_schema_ny_bike)
# df.select(df.start_at.cast("TIMESTAMP").alias('start_at')).show()
# df.select(to_timestamp(df.start_at, 'MM/dd/yyyy HH:mm:ss')).show(5)
# df.select(from_unixtime(unix_timestamp('start_at', 'MM/dd/yyyy HH:mm:ss')).cast(TimestampType()).alias("timestamp")).show(5)

from pyspark.sql.types import *
from pyspark.sql.functions import unix_timestamp, from_unixtime,to_timestamp,udf

# df_renamed_v2 = df_renamed.select(from_unixtime(unix_timestamp('start_at', 'MM/dd/yyyy hh:mm:ss ')).cast(TimestampType()).alias("timestamp"))
# change timestamp format

In [22]:
df_renamed_v2 = df_renamed.withColumn("timestamp", to_timestamp("start_at", "d/M/yyyy HH:mm:ss"))
# df = df.withColumn("timestamp", to_timestamp(df["date_string"], "M/d/yyyy HH:mm:ss"))

In [137]:
df_casted.printSchema()

root
 |-- trip_uuid: string (nullable = true)
 |-- dw_period_tag: string (nullable = true)
 |-- start_station_id: string (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: string (nullable = true)
 |-- start_station_longitude: string (nullable = true)
 |-- end_station_id: string (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_latitude: string (nullable = true)
 |-- end_station_longitude: string (nullable = true)
 |-- bike_id: integer (nullable = true)
 |-- enr_gender: string (nullable = true)
 |-- customer_year_birth: string (nullable = true)
 |-- rideable_type: string (nullable = true)
 |-- start_at: timestamp (nullable = true)
 |-- stop_at: timestamp (nullable = true)
 |-- trip_duration: double (nullable = true)
 |-- customer_type: string (nullable = true)
 |-- quarter: integer (nullable = true)
 |-- quarter_name: string (nullable = true)
 |-- month: integer (nullable = true)
 |-- month_name: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: integer (nullable = true)
 |-- weekday_name: string (nullable = true)

In [196]:
from datetime import datetime
inDate = "10/1/2014 00:00:27"
d = datetime.strptime(inDate, "%m/%d/%Y %H:%M:%S")
d
# strdate = d.strftime("%Y-%m-%d %H:%M:%S")

datetime.datetime(2014, 10, 1, 0, 0, 27)

In [198]:
str_guis=  d.strftime("%Y-%m-%d %H:%M:%S")

In [200]:
type(str_guis)

str

In [ ]:
datetime.datetime(2013, 4, 29, 15, 59, 2)
d.strftime("YYYYMMDD HH:mm:ss (%Y%m%d %H:%M:%S)")
'YYYYMMDD HH:mm:ss (20130429 15:59:02)'

In [203]:
# convert_udf = udf( lambda date: to_timestamp (datetime.strptime(date,'%m/%d/%Y %H:%M:%S'),TimestampType()))
convert_udf = udf( lambda date: to_timestamp (col((datetime.strptime(date,'%m/%d/%Y %H:%M:%S').strftime("%Y-%m-%d %H:%M:%S"),TimestampType()))))

@udf
def convert_to_timestam(date_in):
    str_date = datetime.strptime(date_in,'%m/%d/%Y %H:%M:%S').strftime("%Y-%m-%d %H:%M:%S")
    # col_date = col(str_date)
    # return to_timestamp(col_date)
    return str_date

@udf
def convert_v2(date_in):
    date_datetime_format = datetime.strptime(date_in,'%m/%d/%Y %H:%M:%S') 
    str_date = date_datetime_format.strftime("%Y-%m-%d %H:%M:%S")
    return str_date

In [194]:
# dfinit.printSchema()
dfinit.show(2)

+------------+------------------+------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|tripduration|         starttime|          stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|
+------------+------------------+------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|        1027|10/1/2014 00:00:27|10/1/2014 00:17:34|             479|     9 Ave & W 45 St|           40.76019252|            -73.9912551|           540|Lexington Ave & E...|         40.74147286|         -73.98320928| 21376|Subscriber|    1977.0|     1|
|         534|10/1/2014 00:00:36|10/1/2014 00:09:30|             417|Barclay St & Chur...|           40.71291224|           -74.01020234|           417|Barclay St & Chur...|         40.71291224|         -74.01020234| 16086|Subscriber|    1974.0|     2|
+------------+------------------+------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
only showing top 2 rows

In [13]:
from pyspark.sql.functions import coalesce,lit,concat,to_timestamp,unix_timestamp , from_unixtime ,try_to_timestamp,col,month , udf,isnull ,when,cast,to_timestamp
from pyspark.sql.types import StructType, StructField, StringType, IntegerType , TimestampType , DoubleType , FloatType, DateType,NullType
from pyspark.sql import functions as f

In [170]:
row_1=dfinit.first()

In [187]:
col_start = row_1['starttime']

In [173]:
col_startime = convert_v2(row_1['starttime'])

In [10]:
dfinit_2.filter(dfinit_2.start_at.like('1/1/2015%')).show(4)

+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+----------------+-------------+-------------+
|dw_period_tag|ride_id|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude| user_type|gender|customer_year_birth|bike_id|rideable_type|        start_at|      stop_at|trip_duration|
+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+----------------+-------------+-------------+
|         2015|   NULL|             455|     1 Ave & E 44 St|           40.75001986|           -73.96905301|           265|Stanton St & Chry...|         40.72229346|         -73.99147535|Subscriber|     2|             1960.0|  18660|         NULL|1/1/2015 0:01:00|1/1/2015 0:24|         1346|
|         2015|   NULL|             434|     9 Ave & W 18 St|           40.74317449|           -74.00366443|           482|     W 15 St & 7 Ave|         40.73935542|         -73.99931783|Subscriber|     1|             1963.0|  16085|         NULL|1/1/2015 0:02:00|1/1/2015 0:08|          363|
|         2015|   NULL|             491|E 24 St & Park Ave S|           40.74096374|           -73.98602213|           505|     6 Ave & W 33 St|         40.74901271|         -73.98848395|Subscriber|     1|             1974.0|  20845|         NULL|1/1/2015 0:04:00|1/1/2015 0:10|          346|
|         2015|   NULL|             384|Fulton St & Waver...|           40.68317813|            -73.9659641|           399|Lafayette Ave & S...|         40.68851534|          -73.9647628|Subscriber|     1|             1969.0|  19610|         NULL|1/1/2015 0:04:00|1/1/2015 0:07|          182|
+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+----------------+-------------+-------------+
only showing top 4 rows

In [15]:
# dfinit.select(convert_to_timestam("starttime").alias("start_time").cast(TimestampType())).printSchema()
# dfinit.withColumn('starttime',convert_to_timestam("starttime").cast(TimestampType())).printSchema()
# dfinit.withColumn('start_at',when(to_timestamp(dfinit.start_at).isNotNull(),to_timestamp(dfinit.start_at)).when(convert_v2(col("start_at")).isNotNull(),convert_v2(col("start_at")))).show(2)
# dfinit.withColumn('starttime',convert_v2('starttime')).withColumn('starttime',to_timestamp('starttime','yyyy-MM-dd HH:mm:ss')).printSchema()

# dfinit.withColumn('starttime',when(to_timestamp(dfinit.starttime).isNotNull(),to_timestamp(dfinit.starttime)).when(convert_v2(col("starttime")).isNotNull(),convert_v2(col("starttime")))).withColumn('starttime',to_timestamp('starttime')).show(1)


# dfinit.withColumn('starttime',to_timestamp(col('starttime'),'MM/d/yyyy HH:mm:ss')).filter(dfinit.starttime,isNull()).collect().show(1)
# dfinit.withColumn('start_at',df['']('starttime')).show(1)

# regex_pattern = r"^\d{1,2}/\d{1,2}/\d{4} \d{2}:\d{2}:\d{2}$"
# regex_pattern = r"^\d{1,2}/\d{1,2}/\d{4} \d{2}:\d{2}$"

regex_pattern = r"^\d{1,2}/\d{1,2}/\d{4} \d{1,2}:\d{2}$"
column='start_at'

dfinit_2=dfinit\
.filter(dfinit.start_at.like('1/%/2015%'))\
.withColumn(column,when(col(column).rlike(regex_pattern),concat(col(column),lit(':00'))).otherwise(col(column))) \


# .withColumn(
#     "enr_starttime",
#     coalesce(
#         # to_timestamp(col(column), 'M/d/yyyy HH:mm:ss')
#         to_timestamp(col(column), 'MM/d/yyyy H:mm:ss'),
#         to_timestamp(col(column), "yyyy-MM-dd HH:mm:ss"),
#         to_timestamp(col(column))
#     )
# ).show(1)

# dfinit.filter(dfinit.start_at.like('1/1/2015%')).withColumn("enr_starttime",when(col('start_at').rlike(regex_pattern),concat(col('start_at'),lit(':00'))).otherwise(col('start_at'))).show(3)

# dfinit.withColumn(
#     "enr_starttime",
#     when( col('starttime').rlike(regex_pattern),to_timestamp(col('starttime'))
#         col('starttime').rlike(regex_pattern)
# ).show(3)

# dfinit.withColumn('starttime',to_timestamp(col('starttime'),'MM/d/yyyy HH:mm:ss')).filter(dfinit.starttime.isNull()).collect()
# col("date_string").rlike(regex_pattern)

In [35]:
dfinit.filter(col('start_at').like('1/1/2015 __:__:__%')).show(7)

+-------------+-------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+---------+------+-------------------+-------+-------------+--------+-------+-------------+
|dw_period_tag|ride_id|start_station_id|start_station_name|start_station_latitude|start_station_longitude|end_station_id|end_station_name|end_station_latitude|end_station_longitude|user_type|gender|customer_year_birth|bike_id|rideable_type|start_at|stop_at|trip_duration|
+-------------+-------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+---------+------+-------------------+-------+-------------+--------+-------+-------------+
+-------------+-------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+---------+------+-------------------+-------+-------------+--------+-------+-------------+

In [45]:
regex_pattern = r"^\d{1,2}/\d{1,2}/\d{4} \d{1,2}:\d{2}$"
# .filter(dfinit.start_at.rlike('1/%/2015% __:__:__'))\

@udf
def safe_to_timestamp(column, fmt):
    columnv2 = None
    try:
        columnv2 = when(to_timestamp(col(column), fmt).isNotNull(), to_timestamp(col(column), fmt)).otherwise(None)
    except Exception as e:
        print(f"Error occurred: {e}")
    return columnv2

d='file_parquet' 
# .filter(col('start_at').like('1/%/2015 _:__:__'))\


dfinit\
.withColumn(column,when(col(column).rlike(regex_pattern),concat(col(column),lit(':00'))).otherwise(col(column))) \
.withColumn(
    "enr_starttime",
    coalesce(
        # safe_to_timestamp(col('start_at'), 'M/d/yyyy HH:mm:ss'),
        # safe_to_timestamp(col('start_at'),'M/d/yyyy H:mm:ss')
        to_timestamp(col(column), 'M/d/yyyy H:mm:ss'),
        # to_timestamp(col(column), 'MM/dd/yyyy H:mm:ss')
        # to_timestamp(col(column), 'MM/dd/yyyy H:mm:ss')
        # to_timestamp(col(column), "yyyy-MM-dd HH:mm:ss"),
        to_timestamp(col(column))
    )
).write.parquet(d, mode="overwrite")

In [ ]:
try:
    # Create DataFrame
    df = spark.createDataFrame(data, schema=schema)
    # Convert string dates to actual DateType
    df = df.withColumn("startDate", to_date(col("startDate"), "yyyy-MM-dd")) \
           .withColumn("endDate", to_date(col("endDate"), "yyyy-MM-dd"))
    # Show the DataFrame
    df.show()
except Exception as e:
    print(f"Error occurred: {e}")

In [46]:
dfinit_5=spark.read.parquet(d).show(100)

+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+-----------------+-----------------+-------------+-------------------+
|dw_period_tag|ride_id|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude| user_type|gender|customer_year_birth|bike_id|rideable_type|         start_at|          stop_at|trip_duration|      enr_starttime|
+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+-----------------+-----------------+-------------+-------------------+
|         2015|   NULL|             477|     W 41 St & 8 Ave|           40.75640548|            -73.9900262|           442|     W 27 St & 7 Ave|           40.746647|           -73.993915|Subscriber|     1|             1981.0|  17012|         NULL|5/1/2015 00:00:11|5/1/2015 00:07:06|          415|2015-05-01 00:00:11|
|         2015|   NULL|             293|Lafayette St & E ...|           40.73028666|            -73.9907647|           324|DeKalb Ave & Huds...|           40.689888|           -73.981013|  Customer|     0|               NULL|  17390|         NULL|5/1/2015 00:00:28|5/1/2015 00:25:52|         1523|2015-05-01 00:00:28|
|         2015|   NULL|             380|    W 4 St & 7 Ave S|           40.73401143|           -74.00293877|           507|     E 25 St & 2 Ave|         40.73912601|         -73.97973776|Subscriber|     1|             1990.0|  15003|         NULL|5/1/2015 00:00:52|5/1/2015 00:11:35|          642|2015-05-01 00:00:52|
|         2015|   NULL|             537|Lexington Ave & E...|           40.74025878|           -73.98409214|           280|     E 10 St & 5 Ave|         40.73331967|         -73.99510132|Subscriber|     1|             1978.0|  14788|         NULL|5/1/2015 00:00:48|5/1/2015 00:06:55|          367|2015-05-01 00:00:48|
|         2015|   NULL|             426|West St & Chamber...|           40.71754834|           -74.01322069|           327|Vesey Pl & River ...|          40.7153379|         -74.01658354|Subscriber|     2|             1956.0|  21068|         NULL|5/1/2015 00:00:51|5/1/2015 00:46:26|         2734|2015-05-01 00:00:51|
|         2015|   NULL|             439|      E 4 St & 2 Ave|            40.7262807|           -73.98978041|           302|   Avenue D & E 3 St|         40.72082834|         -73.97793172|Subscriber|     1|             1961.0|  17406|         NULL|5/1/2015 00:01:07|5/1/2015 00:07:07|          359|2015-05-01 00:01:07|
|         2015|   NULL|             401|Allen St & Riving...|           40.72019576|           -73.98997825|           438| St Marks Pl & 1 Ave|         40.72779126|         -73.98564945|Subscriber|     1|             1971.0|  15005|         NULL|5/1/2015 00:01:05|5/1/2015 00:05:02|          236|2015-05-01 00:01:05|
|         2015|   NULL|             532|     S 5 Pl & S 4 St|             40.710451|             -73.960876|           529|     W 42 St & 8 Ave|          40.7575699|         -73.99098507|Subscriber|     1|             1993.0|  15566|         NULL|5/1/2015 00:01:16|5/1/2015 00:34:28|         1991|2015-05-01 00:01:16|
|         2015|   NULL|             320|Leonard St & Chur...|             40.717571|             -74.005549|           276|Duane St & Greenw...|         40.71748752|          -74.0104554|Subscriber|     1|             1958.0|  19245|         NULL|5/1/2015 00:01:59|5/1/2015 00:03:40|          101|2015-05-01 00:01:59|
|         2015|   NULL|             297|     E 15 St & 3 Ave|             40.734232|             -73.986923|           316|Fulton St & Willi...|         40.70955958|         -74.00653609|Subscriber|     1|             1965.0|  18382|         NULL|5/1/2015 00:01:55|5/1/2015 00:19:45|         1070|2015-05-01 00:01:55|
|         2015|   NULL|             519|Pershing Square N...|             40.751873|             -73.977706|           432|   E 7 St & Avenue A|         40.72621788|         -73.98379855|  Customer|     0|               NULL|  17988|         NULL|5/1/2015 00:01:59|5/1/2015 00:30:17|         1698|2015-05-01 00:01:59|
|         2015|   NULL|             405|Washington St & G...|             40.739323|             -74.008119|           328|Watts St & Greenw...|         40.72405549|         -74.00965965|Subscriber|     1|             1974.0|  19125|         NULL|5/1/2015 00:02:13|5/1/2015 00:07:58|          344|2015-05-01 00:02:13|
|         2015|   NULL|             519|Pershing Square N...|             40.751873|             -73.977706|           432|   E 7 St & Avenue A|         40.72621788|         -73.98379855|  Customer|     0|               NULL|  21590|         NULL|5/1/2015 00:02:19|5/1/2015 00:30:56|         1717|2015-05-01 00:02:19|
|         2015|   NULL|             396|Lefferts Pl & Fra...|          40.680342423|         -73.9557689392|           289|Monroe St & Class...|          40.6845683|         -73.95881081|Subscriber|     1|             1986.0|  18095|         NULL|5/1/2015 00:02:27|5/1/2015 00:08:51|          383|2015-05-01 00:02:27|
|         2015|   NULL|             526|     E 33 St & 5 Ave|           40.74765947|           -73.98490707|           454|     E 51 St & 1 Ave|         40.75455731|         -73.96592976|Subscriber|     1|             1969.0|  19073|         NULL|5/1/2015 00:03:08|5/1/2015 00:15:26|          738|2015-05-01 00:03:08|
|         2015|   NULL|             393|   E 5 St & Avenue C|           40.72299208|           -73.97995466|           271|Ashland Pl & Hans...|         40.68528172|         -73.97805813|Subscriber|     1|             1981.0|  20949|         NULL|5/1/2015 00:03:03|5/1/2015 00:25:49|         1365|2015-05-01 00:03:03|
|         2015|   NULL|             290|     2 Ave & E 58 St|           40.76020258|           -73.96478473|           527|     E 33 St & 2 Ave|           40.744023|           -73.976056|Subscriber|     1|             1971.0|  16627|         NULL|5/1/2015 00:03:13|5/1/2015 00:12:45|          571|2015-05-01 00:03:13|
|         2015|   NULL|             519|Pershing Square N...|             40.751873|             -73.977706|           236| St Marks Pl & 2 Ave|          40.7284186|         -73.98713956|  Customer|     0|               NULL|  21535|         NULL|5/1/2015 00:03:08|5/1/2015 00:23:35|         1227|2015-05-01 00:03:08|
|         2015|   NULL|             537|Lexington Ave & E...|           40.74025878|           -73.98409214|           511|  E 14 St & Avenue B|         40.72938685|         -73.97772429|Subscriber|     1|             1987.0|  18299|         NULL|5/1/2015 00:03:14|5/1/2015 00:16:29|          794|2015-05-01 00:03:14|
|         2015|   NULL|            2006|Central Park S & ...|           40.76590936|           -73.97634151|           379|     W 31 St & 7 Ave|           40.749156|             -73.9916|Subscriber|     1|             1981.0|  15759|         NULL|5/1/2015 00:03:25|5/1/2015 00:13:57|          631|2015-05-01 00:03:25|
|         2015|   NULL|             462|    W 22 St & 10 Ave|           40.74691959|           -74.00451887|           150|   E 2 St & Avenue C|          40.7208736|         -73.98085795|Subscriber|     1|             1970.0|  21455|         NULL|5/1/2015 00:03:37|5/1/2015 00:25:18|         1301|2015-05-01 00:03:37|
|         2015|   NULL|             461|     E 20 St & 2 Ave|           40.73587678|           -73.98205027|           401|Allen St & Riving...|         40.72019576|         -73.98997825|Subscriber|     1|             1990.0|  16954|         NULL|5/1/2015 00:03:46|5/1/2015 00:12:50|          543|2015-05-01 00:03:46|
|         2015|   NULL|             507|     E 25 St & 2 Ave|           40.73912601|           -73.97973776|           161|LaGuardia Pl & W ...|         40.72917025|         -73.99810231|Subscriber|     1|             1989.0|  20717|         NULL|5/1/2015 00:04:05|5/1/2015 00:14:02|          597|2015-05-01 00:04:05|
|         2015|   NULL|            2006|Central Park S & ...|           40.76590936|           -73.97634151|           468|  Broadway & W 55 St|          40.7652654|         -73.98192338|Subscriber|     1|             1979.0|  20283|         NULL|5/1/2015 00:04:08|5/1/2015 00:16:38|          749|2015-05-01 00:04:08|
|         2015|   NULL|             164|     E 47 St & 2 Ave|           40.75323098|           -73.97032517|           367|E 53 St & Lexingt...|         40.75828065|         -73.97069431|Subscriber|     1|             1963.0|  18112|         NULL|5/1/2015 00:05:47|5/1/2015 00:08:43|          176|2015-05-01 00:05:47|
|         2015|   NULL|             352|     W 56 St & 6 Ave|           40.76340613|           -73.97722479|          2023|E 55 St & Lexingt...|         40.75968085|         -73.97031366|Subscriber|     1|             1990.0|  18426|         NULL|5/1/2015 00:05:51|5/1/2015 00:09:14|          203|2015-05-01 00:05:51|
|         2015|   NULL|             280|     E 10 St & 5 Ave|           40.73331967|           -73.99510132|            82|St James Pl & Pea...|         40.71117416|         -74.00016545|Subscriber|     1|             1989.0|  20743|         NULL|5/1/2015 00:06:09|5/1/2015 00:19:19|          790|2015-05-01 00:06:09|
|         2015|   NULL|             294| Washington Square E|           40.73049393|            -73.9957214|           293|Lafayette St & E ...|         40.73028666|          -73.9907647|Subscriber|     1|             1995.0|  20586|         NULL|5/1/2015 00:06:07|5/1/2015 00:08:42|          154|2015-05-01 00:06:07|
|         2015|   NULL|             438| St Marks Pl & 1 Ave|           40.72779126|           -73.98564945|           523|     W 38 St & 8 Ave|         40.75466591|         -73.99138152|Subscriber|     1|             1976.0|  16802|         NULL|5/1/2015 00:07:15|5/1/2015 00:25:14|         1078|2015-05-01 00:07:15|
|         2015|   NULL|             293|Lafayette St & E ...|           40.73028666|            -73.9907647|           499|  Broadway & W 60 St|         40.76915505|         -73.98191841|Subscriber|     1|             1970.0|  15086|         NULL|5/1/2015 00:07:18|5/1/2015 00:30:05|         1366|2015-05-01 00:07:18|
|         2015|   NULL|             450|     W 49 St & 8 Ave|           40.76227205|           -73.98788205|           479|     9 Ave & W 45 St|         40.76019252|          -73.9912551|Subscriber|     2|             1951.0|  19135|         NULL|5/1/2015 00:07:16|5/1/2015 00:11:01|          224|2015-05-01 00:07:16|
|         2015|   NULL|             438| St Marks Pl & 1 Ave|           40.72779126|           -73.98564945|           325|     E 19 St & 3 Ave|         40.73624527|         -73.98473765|Subscriber|     1|             1989.0|  19442|         NULL|5/1/2015 00:07:21|5/1/2015 00:12:31|          310|2015-05-01 00:07:21|
|         2015|   NULL|             475| E 16 St & Irving Pl|           40.73524276|           -73.98758561|           488|     W 39 St & 9 Ave|         40.75645824|         -73.99372222|Subscriber|     1|             1984.0|  17350|         NULL|5/1/2015 00:07:42|5/1/2015 00:20:28|          766|2015-05-01 00:07:42|
|         2015|   NULL|             533|  Broadway & W 39 St|           40.75299641|           -73.98721619|           536|     1 Ave & E 30 St|         40.74144387|         -73.97536082|Subscriber|     1|             1984.0|  21571|         NULL|5/1/2015 00:07:49|5/1/2015 00:20:03|          733|2015-05-01 00:07:49|
|         2015|   NULL|             401|Allen St & Riving...|           40.72019576|           -73.98997825|           401|Allen St & Riving...|         40.72019576|         -73.98997825|Subscriber|     1|             1985.0|  15694|         NULL|5/1/2015 00:07:49|5/1/2015 00:35:45|         1675|2015-05-01 00:07:49|
|         2015|   NULL|             161|LaGuardia Pl & W ...|           40.72917025|           -73.99810231|           363|      West Thames St|         40.70834698|         -74.01713445|Subscriber|     1|             1988.0|  19370|         NULL|5/1/2015 00:07:51|5/1/2015 00:22:29|          877|2015-05-01 00:07:51|
|         2015|   NULL|             297|     E 15 St & 3 Ave|             40.734232|             -73.986923|           348|W Broadway & Spri...|         40.72490985|         -74.00154702|Subscriber|     2|             1969.0|  20900|         NULL|5/1/2015 00:07:59|5/1/2015 00:21:18|          799|2015-05-01 00:07:59|
|         2015|   NULL|             539|Metropolitan Ave ...|           40.71534825|           -73.96024116|           432|   E 7 St & Avenue A|         40.72621788|         -73.98379855|Subscriber|     1|             1969.0|  19759|         NULL|5/1/2015 00:08:04|5/1/2015 00:25:32|         1047|2015-05-01 00:08:04|
|         2015|   NULL|             396|Lefferts Pl & Fra...|          40.680342423|         -73.9557689392|           289|Monroe St & Class...|          40.6845683|         -73.95881081|Subscriber|     1|             1970.0|  18072|         NULL|5/1/2015 00:08:12|5/1/2015 00:14:19|          366|2015-05-01 00:08:12|
|         2015|   NULL|            2010|Grand St & Greene St|           40.72165481|           -74.00234737|           293|Lafayette St & E ...|         40.73028666|          -73.9907647|Subscriber|     1|             1983.0|  18093|         NULL|5/1/2015 00:08:42|5/1/2015 00:16:16|          454|2015-05-01 00:08:42|
|         2015|   NULL|             474|     5 Ave & E 29 St|            40.7451677|           -73.98683077|           336|Sullivan St & Was...|         40.73047747|         -73.99906065|Subscriber|     2|             1980.0|  17068|         NULL|5/1/2015 00:08:41|5/1/2015 00:21:09|          748|2015-05-01 00:08:41|
|         2015|   NULL|             257|Lispenard St & Br...|           40.71939226|           -74.00247214|           316|Fulton St & Willi...|         40.70955958|         -74.00653609|Subscriber|     1|             1961.0|  17774|         NULL|5/1/2015 00:08:50|5/1/2015 00:14:04|          313|2015-05-01 00:08:50|
|         2015|   NULL|             128|MacDougal St & Pr...|           40.72710258|           -74.00297088|           151|Cleveland Pl & Sp...|          40.7218158|         -73.99720307|Subscriber|     1|             1979.0|  14975|         NULL|5/1/2015 00:08:51|5/1/2015 00:34:48|         1557|2015-05-01 00:08:51|
|         2015|   NULL|             254|     W 11 St & 6 Ave|           40.73532427|           -73.99800419|           471|Grand St & Haveme...|         40.71286844|         -73.95698119|Subscriber|     2|             1973.0|  16270|         NULL|5/1/2015 00:09:19|5/1/2015 00:38:30|         1750|2015-05-01 00:09:19|
|         2015|   NULL|             412|Forsyth St & Cana...|            40.7158155|           -73.99422366|           279|Peck Slip & Front St|           40.707873|            -74.00167|  Customer|     0|               NULL|  17765|         NULL|5/1/2015 00:10:14|5/1/2015 00:15:15|          301|2015-05-01 00:10:14|
|         2015|   NULL|             497|  E 17 St & Broadway|           40.73704984|           -73.99009296|           537|Lexington Ave & E...|         40.74025878|         -73.98409214|Subscriber|     1|             1968.0|  15717|         NULL|5/1/2015 00:05:46|5/1/2015 00:12:15|          389|2015-05-01 00:05:46|
|         2015|   NULL|             306|Cliff St & Fulton St|           40.70823502|           -74.00530063|           308|St James Pl & Oli...|         40.71307916|         -73.99851193|Subscriber|     1|             1974.0|  16671|         NULL|5/1/2015 00:10:53|5/1/2015 00:15:12|          259|2015-05-01 00:10:53|
|         2015|   NULL|             252|MacDougal St & Wa...|           40.73226398|           -73.99852205|           251| Mott St & Prince St|         40.72317958|         -73.99480012|Subscriber|     1|             1981.0|  19072|         NULL|5/1/2015 00:11:07|5/1/2015 00:16:02|          294|2015-05-01 00:11:07|
|         2015|   NULL|             297|     E 15 St & 3 Ave|             40.734232|             -73.986923|           161|LaGuardia Pl & W ...|         40.72917025|         -73.99810231|Subscriber|     2|             1991.0|  18108|         NULL|5/1/2015 00:11:14|5/1/2015 00:19:10|          475|2015-05-01 00:11:14|
|         2015|   NULL|            2002|Wythe Ave & Metro...|             40.716887|             -73.963198|           414|Pearl St & Anchor...|         40.70281858|         -73.98765762|Subscriber|     1|             1967.0|  16020|         NULL|5/1/2015 00:11:10|5/1/2015 00:30:03|         1133|2015-05-01 00:11:10|
|         2015|   NULL|             352|     W 56 St & 6 Ave|           40.76340613|           -73.97722479|           492|     W 33 St & 7 Ave|         40.75019995|         -73.99093085|Subscriber|     1|             1975.0|  16719|         NULL|5/1/2015 00:11:20|5/1/2015 00:23:55|          755|2015-05-01 00:11:20|
|         2015|   NULL|             336|Sullivan St & Was...|           40.73047747|           -73.99906065|           297|     E 15 St & 3 Ave|           40.734232|           -73.986923|Subscriber|     2|             1976.0|  17040|         NULL|5/1/2015 00:11:30|5/1/2015 00:22:26|          655|2015-05-01 00:11:30|
|         2015|   NULL|             446|     W 24 St & 7 Ave|           40.74487634|           -73.99529885|           492|     W 33 St & 7 Ave|         40.75019995|         -73.99093085|  Customer|     0|               NULL|  16527|         NULL|5/1/2015 00:11:31|5/1/2015 00:16:48|          317|2015-05-01 00:11:31|
|         2015|   NULL|             161|LaGuardia Pl & W ...|           40.72917025|           -73.99810231|           499|  Broadway & W 60 St|         40.76915505|         -73.98191841|Subscriber|     1|             1980.0|  20663|         NULL|5/1/2015 00:11:57|5/1/2015 00:36:18|         1460|2015-05-01 00:11:57|
|         2015|   NULL|             336|Sullivan St & Was...|           40.73047747|           -73.99906065|           428|      E 3 St & 1 Ave|         40.72467721|         -73.98783413|Subscriber|     1|             1988.0|  19314|         NULL|5/1/2015 00:12:00|5/1/2015 00:18:23|          382|2015-05-01 00:12:00|
|         2015|   NULL|             480|    W 53 St & 10 Ave|           40.76669671|           -73.99061728|           490|     8 Ave & W 33 St|           40.751551|           -73.993934|Subscriber|     1|             1976.0|  19867|         NULL|5/1/2015 00:12:25|5/1/2015 00:22:44|          619|2015-05-01 00:12:25|
|         2015|   NULL|             365|Fulton St & Grand...|           40.68223166|            -73.9614583|           397|Fulton St & Clerm...|         40.68415748|         -73.96922273|Subscriber|     1|             1985.0|  18206|         NULL|5/1/2015 00:12:33|5/1/2015 00:16:10|          217|2015-05-01 00:12:33|
|         2015|   NULL|             432|   E 7 St & Avenue A|           40.72621788|           -73.98379855|           383|Greenwich Ave & C...|           40.735238|           -74.000271|Subscriber|     1|             1983.0|  18823|         NULL|5/1/2015 00:13:21|5/1/2015 00:20:06|          405|2015-05-01 00:13:21|
|         2015|   NULL|             453|     W 22 St & 8 Ave|           40.74475148|           -73.99915362|           356|Bialystoker Pl & ...|         40.71622644|         -73.98261206|Subscriber|     1|             1973.0|  19964|         NULL|5/1/2015 00:13:34|5/1/2015 00:43:00|         1765|2015-05-01 00:13:34|