In [31]:
from pyspark.sql import SparkSession
# from pyspark.sql import
from pyspark.sql.functions import when,col,lit,hash,datediff,xxhash64,year,quarter,dayofmonth,month,dayofweek,date_format,concat

In [2]:
spark = SparkSession.builder.appName("app-notebook").getOrCreate()

In [25]:
df = spark.read.format('csv').options(inferSchema='True',header='True').load('/opt/airflow/include/2013-citibike-tripdata/10_October/*.csv')

In [33]:
df.show(2)

+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|         326|2013-10-01 00:01:08|2013-10-01 00:06:34|             239|Willoughby St & F...|           40.69196566|            -73.9813018|           366|Clinton Ave & Myr...|           40.693261|           -73.968896| 16052|Subscriber|      1982|     1|
|         729|2013-10-01 00:01:21|2013-10-01 00:13:30|             322|Clinton St & Till...|             40.696192|             -73.991218|           398|Atlantic Ave & Fu...|         40.69165183|          -73.9999786| 19412|  Customer|        \N|     0|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
only showing top 2 rows

In [44]:
# df = df.withColumn('rideable_type',lit(None))
df.show(2)

+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-------------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|rideable_type|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-------------+
|         326|2013-10-01 00:01:08|2013-10-01 00:06:34|             239|Willoughby St & F...|           40.69196566|            -73.9813018|           366|Clinton Ave & Myr...|           40.693261|           -73.968896| 16052|Subscriber|      1982|     1|         NULL|
|         729|2013-10-01 00:01:21|2013-10-01 00:13:30|             322|Clinton St & Till...|             40.696192|             -73.991218|           398|Atlantic Ave & Fu...|         40.69165183|          -73.9999786| 19412|  Customer|        \N|     0|         NULL|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-------------+
only showing top 2 rows

In [10]:
config={'column_result':'trip_duration',
        'column_greather':'ended_at',
        'colmun_lesser':'started_at'
       }

In [50]:
# df.withColumn('trip_duration_2',\
#               when(col(config['column_result']).isNull(),datediff(col(config['column_greather']),col(config['colmun_lesser'])))\
#               .otherwise(col(config['column_result']))
#              ).show(2)

# df.withColumn('trip_duration_2',col('ended_at').cast('long') - col('started_at').cast('long')).selectExpr("trip_duration_2/60").show(5)

#    df.withColumn('rideable_type',when(col('rideable_type').isNull(),lit('classic_bike')).otherwise(col('rideable_type')))

df = df.withColumn('rideable_type',when(col('rideable_type').isNull(), lit('classic_bike')).otherwise(col('rideable_type')))

In [51]:
df.show(2)

+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-------------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|rideable_type|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-------------+
|         326|2013-10-01 00:01:08|2013-10-01 00:06:34|             239|Willoughby St & F...|           40.69196566|            -73.9813018|           366|Clinton Ave & Myr...|           40.693261|           -73.968896| 16052|Subscriber|      1982|     1| classic_bike|
|         729|2013-10-01 00:01:21|2013-10-01 00:13:30|             322|Clinton St & Till...|             40.696192|             -73.991218|           398|Atlantic Ave & Fu...|         40.69165183|          -73.9999786| 19412|  Customer|        \N|     0| classic_bike|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-------------+
only showing top 2 rows

In [8]:
df2 = df.withColumn('weekdayname', date_format('starttime','EEEE'))

In [9]:
df2.show(3)

+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-----------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|weekdayname|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-----------+
|         326|2013-10-01 00:01:08|2013-10-01 00:06:34|             239|Willoughby St & F...|           40.69196566|            -73.9813018|           366|Clinton Ave & Myr...|           40.693261|           -73.968896| 16052|Subscriber|      1982|     1|    Tuesday|
|         729|2013-10-01 00:01:21|2013-10-01 00:13:30|             322|Clinton St & Till...|             40.696192|             -73.991218|           398|Atlantic Ave & Fu...|         40.69165183|          -73.9999786| 19412|  Customer|        \N|     0|    Tuesday|
|         520|2013-10-01 00:01:24|2013-10-01 00:10:04|             174|     E 25 St & 1 Ave|            40.7381765|           -73.97738662|           403|      E 2 St & 2 Ave|         40.72502876|         -73.99069656| 19645|Subscriber|      1984|     1|    Tuesday|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-----------+
only showing top 3 rows

In [ ]:
# from geopy.distance import geodesic
import yaml
import os
# from pyspark.sql import SparkSession


def config_reader(path:str):
    # Load YAML config
    with open(path, "r") as f:
        config = yaml.safe_load(f)

    # Fetch secrets from environment variables
    # source_config = config["source"]
    # source_config["password"] = os.environ["SOURCE_DB_PASSWORD"]  # Inject password
    # etl_config = config['etl_conf']

    # dest_config = config["destination"]
    # dest_config["password"] = os.environ["DEST_DB_PASSWORD"]
    return config

In [3]:
test_string="detele moug {test2}"

In [4]:
test_2="choisir"

In [6]:
# Create the string with placeholders
template = "Hello, my name is {} and I am '{}' years old."

# Inject values later
name = "Alice"
age = 30
result = template.format(name, age)

print(result)

Hello, my name is Alice and I am '30' years old.

In [13]:
spark.stop()