In [2]:
from pyspark.sql import SparkSession
# from pyspark.sql import
from pyspark.sql.functions import when,col,lit,hash,datediff,xxhash64,year,quarter,dayofmonth,month,dayofweek,date_format,concat

In [3]:
spark = SparkSession.builder.appName("app-notebook").getOrCreate()

In [6]:
df = spark.read.format('csv').options(inferSchema='True',header='True').load('/opt/airflow/include/2013-citibike-tripdata/10_October/*.csv')

In [7]:
df.show(2)

+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|         326|2013-10-01 00:01:08|2013-10-01 00:06:34|             239|Willoughby St & F...|           40.69196566|            -73.9813018|           366|Clinton Ave & Myr...|           40.693261|           -73.968896| 16052|Subscriber|      1982|     1|
|         729|2013-10-01 00:01:21|2013-10-01 00:13:30|             322|Clinton St & Till...|             40.696192|             -73.991218|           398|Atlantic Ave & Fu...|         40.69165183|          -73.9999786| 19412|  Customer|        \N|     0|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
only showing top 2 rows

In [8]:
df2 = df.withColumn('weekdayname', date_format('starttime','EEEE'))

In [9]:
df2.show(3)

+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-----------+
|tripduration|          starttime|           stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|weekdayname|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-----------+
|         326|2013-10-01 00:01:08|2013-10-01 00:06:34|             239|Willoughby St & F...|           40.69196566|            -73.9813018|           366|Clinton Ave & Myr...|           40.693261|           -73.968896| 16052|Subscriber|      1982|     1|    Tuesday|
|         729|2013-10-01 00:01:21|2013-10-01 00:13:30|             322|Clinton St & Till...|             40.696192|             -73.991218|           398|Atlantic Ave & Fu...|         40.69165183|          -73.9999786| 19412|  Customer|        \N|     0|    Tuesday|
|         520|2013-10-01 00:01:24|2013-10-01 00:10:04|             174|     E 25 St & 1 Ave|            40.7381765|           -73.97738662|           403|      E 2 St & 2 Ave|         40.72502876|         -73.99069656| 19645|Subscriber|      1984|     1|    Tuesday|
+------------+-------------------+-------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+-----------+
only showing top 3 rows