In [4]:
!python3 --version

Python 3.10.12

In [1]:
import pyspark
from pyspark.sql import SparkSession
import os


## DEFINE SENSITIVE VARIABLES
NESSIE_URI = os.environ.get("NESSIE_URI") ## Nessie Server URI
WAREHOUSE = os.environ.get("WAREHOUSE") ## BUCKET TO WRITE DATA TOO
AWS_ACCESS_KEY_ID = os.environ.get("AWS_ACCESS_KEY_ID") ## AWS CREDENTIALS
AWS_SECRET_ACCESS_KEY = os.environ.get("AWS_SECRET_ACCESS_KEY") ## AWS CREDENTIALS
AWS_S3_ENDPOINT= os.environ.get("AWS_S3_ENDPOINT") ## MINIO ENDPOINT


print(AWS_S3_ENDPOINT)
print(NESSIE_URI)
print(WAREHOUSE)
print(AWS_ACCESS_KEY_ID)
print(AWS_SECRET_ACCESS_KEY)

http://minio:9000
http://nessie:19120/api/v1
s3a://warehouse/
M1s2Sa2IecSYl6SR6n4W
Kj6gSYsC1Q5MJ6VXWVW1S1m8eC8gPKxtLcOxB2wk

In [9]:
# AWS_REGION is used by Spark
AWS_REGION="us-east-1"
# This must match if using minio
MINIO_REGION="us-east-1"
# Used by pyIceberg
AWS_DEFAULT_REGION="us-east-1"
# AWS Credentials (this can use minio credential, to be filled in later)
AWS_ACCESS_KEY_ID="YRUl5sf7KF7WTVAAgTSO"
AWS_SECRET_ACCESS_KEY="gWIjs4ljGZJHcum9RlZtKTrL5La7FNWXZvwppm6L"
# If using Minio, this should be the API address of Minio Server
AWS_S3_ENDPOINT="http://minio:9000"
# Location where files will be written when creating new tables
WAREHOUSE="s3a://warehouse/"
# URI of Nessie Catalog
NESSIE_URI="http://nessie:19120/api/v1"

In [2]:
conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
        .set('spark.jars.packages','org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.5.0,org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.102.5,software.amazon.awssdk:bundle:2.20.131,software.amazon.awssdk:url-connection-client:2.20.131')
        .set('spark.sql.extensions','org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions')
        .set('spark.sql.catalog.bronze', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.bronze.uri', NESSIE_URI)
        .set('spark.sql.catalog.bronze.ref', 'main')
        .set('spark.sql.catalog.bronze.authentication.type', 'NONE')  # ✅ Move auth to "bronze" catalog
        .set('spark.sql.catalog.bronze.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')  # ✅ Use "bronze" prefix
        .set('spark.sql.catalog.bronze.s3.path-style-access', 'true')  # ✅ Configure S3 for "bronze"
        .set('spark.sql.catalog.bronze.s3.endpoint', AWS_S3_ENDPOINT)  # ✅ Fixed typo (no 's' at end)
        .set('spark.sql.catalog.bronze.warehouse', WAREHOUSE)
        .set('spark.sql.catalog.bronze.io-impl', 'org.apache.iceberg.aws.s3.S3FileIO')  # ✅ Use "bronze" prefix
        .set('spark.hadoop.fs.s3a.access.key', AWS_ACCESS_KEY_ID)
        .set('spark.hadoop.fs.s3a.secret.key', AWS_SECRET_ACCESS_KEY)
        .set('spark.hadoop.fs.s3a.path.style.access','true')
        .set('spark.hadoop.fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem')
)
## Start Spark Session
spark = SparkSession.builder.config(conf=conf).getOrCreate()
# print("Spark Running")

:: loading settings :: url = jar:file:/opt/spark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12 added as a dependency
software.amazon.awssdk#bundle added as a dependency
software.amazon.awssdk#url-connection-client added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-0a18b936-b508-4b25-a989-c5beaf22adb8;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.5.0 in central
	found org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12;0.102.5 in central
	found software.amazon.awssdk#bundle;2.20.131 in central
	found software.amazon.eventstream#eventstream;1.0.1 in central
	found software.amazon.awssdk#url-connection-client;2.20.131 in central
	found software.amazon.awssdk#utils;2.20.131 in central
	found org.reactivestreams#reactive-streams;1.0.3 in central
	found software.amazon.awssdk#annotations;2.20.131 in central
	found org.slf4j#slf4j-api;1.7.30 in central
	found software.amazon.awssdk#http-client-spi;2.20.131 in central
	found software.amazon.awssdk#metrics-spi;2.20.131 in central
:: resolution report :: resolve 464ms :: artifacts dl 23ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.5.0 from central in [default]
	org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12;0.102.5 from central in [default]
	org.reactivestreams#reactive-streams;1.0.3 from central in [default]
	org.slf4j#slf4j-api;1.7.30 from central in [default]
	software.amazon.awssdk#annotations;2.20.131 from central in [default]
	software.amazon.awssdk#bundle;2.20.131 from central in [default]
	software.amazon.awssdk#http-client-spi;2.20.131 from central in [default]
	software.amazon.awssdk#metrics-spi;2.20.131 from central in [default]
	software.amazon.awssdk#url-connection-client;2.20.131 from central in [default]
	software.amazon.awssdk#utils;2.20.131 from central in [default]
	software.amazon.eventstream#eventstream;1.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   11  |   0   |   0   |   0   ||   11  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-0a18b936-b508-4b25-a989-c5beaf22adb8
	confs: [default]
	0 artifacts copied, 11 already retrieved (0kB/14ms)
25/04/10 15:35:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [6]:
conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
        .set('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.5.0,org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.102.5,software.amazon.awssdk:bundle:2.20.131,software.amazon.awssdk:url-connection-client:2.20.131')
        .set('spark.sql.extensions', 'org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions')
        .set('spark.sql.catalog.nessie', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.nessie.uri',"http://nessie:19120/api/v1" )
        .set('spark.sql.catalog.nessie.ref', 'main')
        .set('spark.sql.catalog.nessie.authentication.type', 'NONE')
        .set('spark.sql.catalog.nessie.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')
        .set('spark.sql.catalog.nessie.s3.endpoint',"http://minio:9000")
        .set('spark.sql.catalog.nessie.warehouse', "s3://warehouse/")
        .set('spark.sql.catalog.nessie.io-impl', 'org.apache.iceberg.aws.s3.S3FileIO')
        .set('spark.hadoop.fs.s3a.access.key',"YRUl5sf7KF7WTVAAgTSO" )
        .set('spark.hadoop.fs.s3a.secret.key', "gWIjs4ljGZJHcum9RlZtKTrL5La7FNWXZvwppm6L")
        .set("spark.hadoop.fs.s3.path.style.access", "true")
        .set("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
)
## Start Spark Session
spark = SparkSession.builder.config(conf=conf).getOrCreate()
# print("Spark Running")

In [39]:
conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
        .set('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.5.0,org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.102.5,software.amazon.awssdk:bundle:2.20.131,software.amazon.awssdk:url-connection-client:2.20.131')
        .set('spark.sql.extensions', 'org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions')
        .set('spark.sql.catalog.nessie', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.nessie.uri', "http://nessie:19120/api/v1")
        .set('spark.sql.catalog.nessie.ref', 'main')
        .set('spark.sql.catalog.nessie.authentication.type', 'NONE')
        .set('spark.sql.catalog.nessie.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')
        .set('spark.sql.catalog.nessie.s3.endpoint', "http://minio:9000")  # ✅ Fixed key
        .set('spark.sql.catalog.nessie.warehouse', "s3://warehouse/")
        .set('spark.sql.catalog.nessie.io-impl', 'org.apache.iceberg.aws.s3.S3FileIO')
        .set('spark.sql.catalog.nessie.s3.path-style-access', 'true')  # ✅ Enforce path-style
        .set('spark.hadoop.fs.s3a.access.key', "YRUl5sf7KF7WTVAAgTSO")
        .set('spark.hadoop.fs.s3a.secret.key', "gWIjs4ljGZJHcum9RlZtKTrL5La7FNWXZvwppm6L")
        .set("spark.hadoop.fs.s3a.path.style.access", "true")
        .set("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
)
## Start Spark Session
spark = SparkSession.builder.config(conf=conf).getOrCreate()
# print("Spark Running")

In [9]:
spark.stop()

In [27]:
print(spark.conf.get('spark.sql.catalog.nessie.s3.endpoint'))

http://minio:9000

In [5]:
## Create a Table
spark.sql("show databases in bronze;").show()

+----------+
| namespace|
+----------+
|DW_ny_bike|
+----------+

In [7]:
## Create a Table
spark.sql(" CREATE DATABASE dw_nybike;")

DataFrame[]

In [4]:
## Create a Table
spark.sql(" CREATE DATABASE IF NOT EXISTS bronze.DW_ny_bike;")

DataFrame[]

In [11]:
spark.sql("show databases in nessie;").show()

+---------+
|namespace|
+---------+
|dw_nybike|
+---------+

In [19]:
# spark.sql("show tables in nessie.dw_nybike;").show()
spark.sql("SHOW TBLPROPERTIES nessie.dw_nybike.trip_data_nybike_v2;").show()
# spark.sql("SELECT * FROM nessie.dw_nybike.trip_data_nybike_v2.snapshots;").show()

+--------------------+--------------------+
|                 key|               value|
+--------------------+--------------------+
| current-snapshot-id|                none|
|              format|     iceberg/parquet|
|      format-version|                   2|
|          gc.enabled|               false|
|    nessie.commit.id|b40136b3c0da8bffe...|
|write.metadata.de...|               false|
|write.parquet.com...|                zstd|
+--------------------+--------------------+

In [47]:
spark.sql("""
CREATE TABLE bronze.DW_ny_bike.trip_data_nybike(
    dw_period_tag string,
    ride_id string,
	start_station_id string,
	start_station_name string,
	start_station_latitude string ,
	start_station_longitude string ,
	end_station_id string,
	end_station_name string,
	end_station_latitude string,
	end_station_longitude string,
	user_type string,
    gender string,
	customer_year_birth string,
    bike_id string,
	rideable_type string,
	start_at string,
	stop_at string, 
	trip_duration string
    )
USING iceberg
PARTITIONED BY (dw_period_tag)
;
""")

DataFrame[]

In [55]:
# spark.sql("SHOW tables in bronze.DW_ny_bike;").show()
# spark.sql("ALTER TABLE bronze.DW_ny_bike.trip_data_nybike ALTER COLUMN start_at TYPE string;")
spark.sql("DROP TABLE bronze.DW_ny_bike.trip_data_nybike;")

DataFrame[]

In [48]:
spark.sql("select count(*) from  bronze.DW_ny_bike.trip_data_nybike limit 10;").show()

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [4]:
## Insert Some Data
spark.sql("INSERT INTO nessie.names VALUES ('Alex Merced'), ('Dipankar Mazumdar'), ('Jason Hughes')").show()

++
||
++
++

+-----------------+
|             name|
+-----------------+
|      Alex Merced|
|Dipankar Mazumdar|
|     Jason Hughes|
+-----------------+

In [68]:
## Query the Data
spark.sql("SELECT * FROM nessie.dw_nybike.trip_data_nybike limit 3;").show()

+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+--------+-------+-------------+
|dw_period_tag|ride_id|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude| user_type|gender|customer_year_birth|bike_id|rideable_type|start_at|stop_at|trip_duration|
+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+--------+-------+-------------+
|         2014|   NULL|             479|     9 Ave & W 45 St|           40.76019252|            -73.9912551|           540|Lexington Ave & E...|         40.74147286|         -73.98320928|Subscriber|     1|             1977.0|  21376|         NULL|    NULL|   NULL|       1027.0|
|         2014|   NULL|             417|Barclay St & Chur...|           40.71291224|           -74.01020234|           417|Barclay St & Chur...|         40.71291224|         -74.01020234|Subscriber|     2|             1974.0|  16086|         NULL|    NULL|   NULL|        534.0|
|         2014|   NULL|             327|Vesey Pl & River ...|            40.7153379|           -74.01658354|           415|Pearl St & Hanove...|          40.7047177|         -74.00926027|Subscriber|     1|             1990.0|  16073|         NULL|    NULL|   NULL|        416.0|
+-------------+-------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+----------+------+-------------------+-------+-------------+--------+-------+-------------+

In [43]:
from pyspark.sql import DataFrame 
from typing import Optional
from pyspark.sql.functions import lit,concat,to_timestamp,unix_timestamp , from_unixtime ,try_to_timestamp
from pyspark.sql.types import StructType, StructField, StringType, IntegerType , TimestampType , DoubleType , FloatType, DateType

bronze_schema_ny_bike = StructType([
    StructField("dw_period_tag", StringType(), nullable=True),
    StructField("ride_id", StringType(), nullable=True),
    StructField("start_station_id", StringType(), nullable=True),
    StructField("start_station_name", StringType(), nullable=True),
    StructField("start_station_latitude", StringType(), nullable=True),
    StructField("start_station_longitude", StringType(), nullable=True),
    StructField("end_station_id", StringType(), nullable=True),
    StructField("end_station_name", StringType(), nullable=True),
    StructField("end_station_latitude", StringType(), nullable=True),
    StructField("end_station_longitude", StringType(), nullable=True),
    StructField("bike_id", StringType(), nullable=True),
    StructField("user_type", StringType(), nullable=True),
    StructField("gender", StringType(), nullable=True),
    StructField("customer_year_birth", StringType(), nullable=True),
    StructField("rideable_type", StringType(), nullable=True),
    StructField("start_at", StringType(), nullable=True),
    StructField("stop_at", StringType(), nullable=True),
    StructField("trip_duration", StringType(), nullable=True)
])

In [30]:
import yaml
def config_reader(path:str):
    # Load YAML config
    with open(path, "r") as f:
        config = yaml.safe_load(f)
    return config

In [49]:
# file_bike_2014='/opt/airflow/data/2014-citibike-tripdata/10_October/*.csv'
file_bike_2017='/opt/airflow/data/2017-citibike-tripdata/*/*.csv'

In [53]:
# df2014 =spark.read.format('csv').options(inferSchema='True', header='True',delimiter=',').load(file_bike_2014)
df2017 =spark.read.format('csv').options(header='True').load(file_bike_2017)

In [31]:
config=config_reader('config.yaml')

In [54]:
df2017.printSchema()

root
 |-- tripduration: string (nullable = true)
 |-- starttime: string (nullable = true)
 |-- stoptime: string (nullable = true)
 |-- start station id: string (nullable = true)
 |-- start station name: string (nullable = true)
 |-- start station latitude: string (nullable = true)
 |-- start station longitude: string (nullable = true)
 |-- end station id: string (nullable = true)
 |-- end station name: string (nullable = true)
 |-- end station latitude: string (nullable = true)
 |-- end station longitude: string (nullable = true)
 |-- bikeid: string (nullable = true)
 |-- usertype: string (nullable = true)
 |-- birth year: string (nullable = true)
 |-- gender: string (nullable = true)

In [40]:
df_renamed=df2016.withColumnsRenamed(config['etl_conf']['columns_to_rename'])

In [42]:
df_converted=df_renamed.to(bronze_schema_ny_bike)

AnalysisException: [INVALID_COLUMN_OR_FIELD_DATA_TYPE] Column or field `start_station_latitude` is of type "STRING" while it's required to be "DOUBLE".

In [41]:
df_renamed.printSchema()

root
 |-- trip_duration: string (nullable = true)
 |-- start_at: string (nullable = true)
 |-- stop_at: string (nullable = true)
 |-- start_station_id: string (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: string (nullable = true)
 |-- start_station_longitude: string (nullable = true)
 |-- end_station_id: string (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_latitude: string (nullable = true)
 |-- end_station_longitude: string (nullable = true)
 |-- bike_id: string (nullable = true)
 |-- user_type: string (nullable = true)
 |-- customer_year_birth: string (nullable = true)
 |-- gender: string (nullable = true)

In [12]:
df_renamed.printSchema()

root
 |-- trip_duration: integer (nullable = true)
 |-- start_at: string (nullable = true)
 |-- stop_at: string (nullable = true)
 |-- start_station_id: integer (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: double (nullable = true)
 |-- start_station_longitude: double (nullable = true)
 |-- end_station_id: integer (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_latitude: double (nullable = true)
 |-- end_station_longitude: double (nullable = true)
 |-- bike_id: integer (nullable = true)
 |-- user_type: string (nullable = true)
 |-- customer_year_birth: string (nullable = true)
 |-- gender: integer (nullable = true)

In [17]:
# dfconverted = df.to(bronze_schema_ny_bike)
# df.select(df.start_at.cast("TIMESTAMP").alias('start_at')).show()
# df.select(to_timestamp(df.start_at, 'MM/dd/yyyy HH:mm:ss')).show(5)
# df.select(from_unixtime(unix_timestamp('start_at', 'MM/dd/yyyy HH:mm:ss')).cast(TimestampType()).alias("timestamp")).show(5)

from pyspark.sql.types import *
from pyspark.sql.functions import unix_timestamp, from_unixtime,to_timestamp

# df_renamed_v2 = df_renamed.select(from_unixtime(unix_timestamp('start_at', 'MM/dd/yyyy hh:mm:ss ')).cast(TimestampType()).alias("timestamp"))
# change timestamp format

In [22]:
df_renamed_v2 = df_renamed.withColumn("timestamp", to_timestamp("start_at", "d/M/yyyy HH:mm:ss"))
# df = df.withColumn("timestamp", to_timestamp(df["date_string"], "M/d/yyyy HH:mm:ss"))

In [24]:
df_renamed_v2.printSchema()

root
 |-- trip_duration: integer (nullable = true)
 |-- start_at: string (nullable = true)
 |-- stop_at: string (nullable = true)
 |-- start_station_id: integer (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: double (nullable = true)
 |-- start_station_longitude: double (nullable = true)
 |-- end_station_id: integer (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_latitude: double (nullable = true)
 |-- end_station_longitude: double (nullable = true)
 |-- bike_id: integer (nullable = true)
 |-- user_type: string (nullable = true)
 |-- customer_year_birth: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [27]:
from datetime import datetime
inDate = "10/1/2014 00:00:27"
d = datetime.strptime(inDate, "%m/%d/%Y %H:%M:%S")
d

datetime.datetime(2014, 10, 1, 0, 0, 27)

In [ ]:
datetime.datetime(2013, 4, 29, 15, 59, 2)
d.strftime("YYYYMMDD HH:mm:ss (%Y%m%d %H:%M:%S)")
'YYYYMMDD HH:mm:ss (20130429 15:59:02)'